
//  Define all the colour variables in this file

$teal: #2ED0B5;
$tealh: #35e2c5;
$blue: #4084D3;
$blueh: #4b9cfb;
$lightblue: rgb(142,208,247);
$lblue: #ACB6C8;
$dblue: #37517E;
$dblueh: #3b6495;
$red: #f52e18;
$lred: #cf2c18;
$darkgrape: rgb(18,24,50);
$darkblue: rgb(6,23,36);