@import "color";

*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
}
html {
    box-sizing: border-box;
}
body {
    background: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    color: $blueh;
    text-decoration: underline;
    font-weight: bolder;
    &:hover {
        color: $teal;
    }
}