@font-face {
    font-family: 'greycliff-bold';
    src: url('../fonts/greycliff-cf-bold-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greycliff-demibold';
    src: url('../fonts/greycliff-cf-demi-bold-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-demi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grecliff-extrabold';
    src: url('../fonts/greycliff-cf-extra-bold-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-extra-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greycliff-heavy';
    src: url('../fonts/greycliff-cf-heavy-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greycliff-light';
    src: url('../fonts/greycliff-cf-light-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greycliff-medium';
    src: url('../fonts/greycliff-cf-medium-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greycliff-regular';
    src: url('../fonts/greycliff-cf-regular-webfont.woff2') format('woff2'), url('../fonts/greycliff-cf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?q2lv6s');
    src: url('../fonts/icomoon.eot?q2lv6s#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?q2lv6s') format('truetype'), url('../fonts/icomoon.woff?q2lv6s') format('woff'), url('../fonts/icomoon.svg?q2lv6s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}