<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Current market prices <span class="exchange-outstanding">{{ market_price }}</span>
                <i :class="icon" style="margin-left: 15px; font-size: 20px;"></i>
                <select v-model="activeCrpy" class="exchange-dropdown">
                    <option v-for="cryp in cryps">
                        {{ cryp }}
                    </option>
                </select>
                <span class="greyed">Your {{ currency.toUpperCase() }}</span>:
                <span class="exchange-outstanding" v-if="currency.toLowerCase() === 'aud'">$ {{ exchange_wallet[currency + '-balance'] }}</span>
                <span class="exchange-outstanding" v-else>{{ exchange_wallet[currency + '-balance'] }}</span>
                <span class="greyed">Your {{ currency_pair.toUpperCase() }}</span>: <span class="exchange-outstanding">{{ exchange_wallet[currency_pair + '-balance'] }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="graph-component">
                    <div class="exchange-spinner-center"><i v-show="loading" class="fa fa-spinner fa-spin"></i></div>
                    <highstock :options="chart_options"></highstock>
                </div>
            </div>
        </div>

        <flash-message v-bind:class="[ isSuccess ]" class="flash-message"></flash-message>

        <div class="row buy-box">
            <div class="col-md">
                <h2 class="exchange-wallet-heading">Buy {{ currency_pair.toUpperCase() }}</h2>
                <div class="buy-form form-inline">
                    <div>
                        <i :class="icon"></i>
                    </div>
                    <!--<div class="exchange-tooltip">-->
                    <!--<input v-on:click="selectMarketOrder('buy')" type="checkbox" v-model="buy_order_type"/> Market Order (buy at best rate)-->
                    <!--<div class="exchange-tooltiptext">{{ tooltips[4] }}</div>-->
                    <!--</div>-->


                    <div class="input-group mb-3 exchange-tooltip">
                        <input type="text" class="form-control form-control-sm" v-model="currency_amount_buy"
                               @click.prevent="emptyAmount('buy')"
                               aria-label="currency amount"
                               aria-describedby="basic-addon1"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="basic-addon1">{{ currency_pair.toUpperCase() }}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[0] }}</div>
                    </div>


                    <div class="input-group mb-3 exchange-tooltip">
                        <div class="input-group-append exchange-dollar" v-if="is_aud">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control form-control-sm" v-model="currency_price_buy"
                               :disabled="isBuyMarketOrder == 1"
                               @click.prevent="emptyCurrencyPrice('buy')"
                               aria-label="currency price"
                               aria-describedby="basic-addon2"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="basic-addon2">{{ currency.toUpperCase()}}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[1] }}</div>
                    </div>


                    <div class="transparent input-group mb-3 exchange-tooltip">
                        <input class="form-control form-control-sm" readonly v-model="total_buy"
                               aria-label="total value"
                               aria-describedby="basic-addon3"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="basic-addon3">Total {{ currency.toUpperCase() }}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[2] }}</div>
                    </div>


                    <div class="transparent input-group mb-3 exchange-tooltip">
                        <input class="form-control form-control-sm" readonly v-model="surcharge_buy" aria-label="surcharge value" aria-describedby="basic-addon4"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="basic-addon4">1% Fee</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[3] }}</div>
                    </div>


                    <div style="margin-top: 1em; width: 100%;">
                        <a href="#" class="btn btn-inverse order-button" @click.prevent="placeOrder('buy')" :disabled="isDisabled">Place buy order</a>
                    </div>
                    <div style="margin-top: 1em;">
                        Assets: <span v-if="currency.toLowerCase() === 'aud'">$ {{ exchange_wallet[currency + '-balance'] }}</span>
                        <span v-else>{{ exchange_wallet[currency + '-balance'] }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md exchange-wallet">
                <h2 class="exchange-wallet-heading">My Wallet</h2>
                <div class="wrap">
                    <div><span class="icon-aud exchange-wallet-dollar"></span>AUD - balance: $ {{ exchange_wallet['aud-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>BTC price: {{ exchange_wallet['aud-btc'] }} (up {{ exchange_wallet['aud_btc_up'] }} last minute)</div>
                    </div>
                </div>

                <div class="wrap">
                    <div><span class="icon-btc exchange-wallet-dollar"></span>BTC - balance: {{ exchange_wallet['btc-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>AUD price: $ {{ exchange_wallet['btc-aud'] }} (up {{ exchange_wallet['btc_aud_up'] }} last minute)</div>
                    </div>

                </div>

                <div class="wrap">
                    <div><span class="icon-ltc exchange-wallet-dollar"></span>LTC - balance: {{ exchange_wallet['ltc-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>AUD price: $ {{ exchange_wallet['aud-ltc'] }} (up {{ exchange_wallet['aud_ltc_up'] }} last minute)</div>
                        <div>BTC price: {{ exchange_wallet['btc-ltc'] }} (up {{ exchange_wallet['btc_ltc_up'] }} last minute)</div>
                    </div>
                </div>

                <div class="wrap">
                    <div><span class="icon-eth exchange-wallet-dollar"></span>ETH - balance: {{ exchange_wallet['eth-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>AUD price: $ {{ exchange_wallet['aud-eth'] }} (up {{ exchange_wallet['aud_eth_up'] }} last minute)</div>
                        <div>BTC price: {{ exchange_wallet['btc-eth'] }} (up {{ exchange_wallet['btc_eth_up'] }} last minute)</div>
                    </div>
                </div>

                <div class="wrap">
                    <div><span class="icon-rpl exchange-wallet-dollar"></span>XRP - balance: {{ exchange_wallet['xrp-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>AUD price: $ {{ exchange_wallet['aud-xrp'] }} (up {{ exchange_wallet['aud_xrp_up'] }} last minute)</div>
                        <div>BTC price: {{ exchange_wallet['btc-xrp'] }} (up {{ exchange_wallet['btc_xrp_up'] }} last minute)</div>
                    </div>
                </div>

                <div class="wrap">
                    <div><span class="icon-pwr exchange-wallet-dollar"></span>POWR - balance: {{ exchange_wallet['pwr-balance'] }}</div>
                    <div class="exchange-inline">
                        <div>AUD price: $ {{ exchange_wallet['aud-pwr'] }} (up {{ exchange_wallet['aud_pwr_up'] }} last minute)</div>
                        <div>BTC price: {{ exchange_wallet['btc-pwr'] }} (up {{ exchange_wallet['btc_pwr_up'] }} last minute)</div>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <h2 class="exchange-wallet-heading">Sell {{ currency_pair.toUpperCase() }}</h2>
                <div class="buy-form form-inline">
                    <div>
                        <i :class="icon"></i>
                    </div>
                    <!--<div class="exchange-tooltip">-->
                    <!--<input v-on:click="selectMarketOrder('sell')" type="checkbox" v-model="sell_order_type"/> Market Order (sell at best rate)-->
                    <!--<div class="exchange-tooltiptext">{{ tooltips[4] }}</div>-->
                    <!--</div>-->


                    <div class="input-group mb-3 exchange-tooltip">
                        <input class="form-control form-control-sm" v-model="currency_amount_sell"
                               @click.prevent="emptyAmount('sell')"
                               aria-label="currency amount"
                               aria-describedby="sell-addon1"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="sell-addon1">{{ currency_pair.toUpperCase() }}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[0] }}</div>
                    </div>


                    <div class="input-group mb-3 exchange-tooltip">
                        <div class="input-group-append exchange-dollar" v-if="is_aud">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control form-control-sm" v-model="currency_price_sell"
                               :disabled="isSellMarketOrder == 1"
                               @click.prevent="emptyCurrencyPrice('sell')"
                               aria-label="currency price"
                               aria-describedby="sell-addon2"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="sell-addon2">{{ currency.toUpperCase()}}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[1] }}</div>
                    </div>


                    <div class="transparent input-group mb-3 exchange-tooltip">
                        <input class="form-control form-control-sm" readonly v-model="total_sell"
                               aria-label="total value"
                               aria-describedby="sell-addon3"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="sell-addon3">Total {{ currency.toUpperCase() }}</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[2] }}</div>
                    </div>


                    <div class="transparent input-group mb-3 exchange-tooltip">
                        <input class="form-control form-control-sm" readonly v-model="surcharge_sell"
                               aria-label="surcharge value"
                               aria-describedby="sell-addon4"/>
                        <div class="input-group-append">
                            <span class="input-group-text exchange-addonWidth" id="sell-addon4">1% Fee</span>
                        </div>
                        <div class="exchange-tooltiptext">{{ tooltips[3] }}</div>
                    </div>


                    <div style="margin-top: 1em; width: 100%;">
                        <a href="#" class="btn btn-inverse order-button" @click.prevent="placeOrder('sell')" :disabled="isDisabled">Place sell order</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row orders-box" style="margin-top: 50px;">
            <div class="col-md-6" v-if="sell_orders">
                <h6>Sell Orders ({{ activeCrpy }})</h6>
                <div><i v-show="loading" class="fa fa-spinner fa-spin"></i></div>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Price</th>
                        <th>{{ currency_pair.toUpperCase() }}</th>
                        <th>{{ currency.toUpperCase() }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="sell in sell_orders" :key="sell.id">
                        <td>{{ sell.price }}</td>
                        <td>
                            <i :class="getIcon(sell.currency_pair)"></i> {{ sell.amount }}
                        </td>
                        <td>{{ sell.total }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6" v-if="buy_orders">
                <h6>Buy Orders ({{ activeCrpy }})</h6>
                <div><i v-show="loading" class="fa fa-spinner fa-spin"></i></div>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Price</th>
                        <th>{{ currency_pair.toUpperCase() }}</th>
                        <th>{{ currency.toUpperCase() }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="buy in buy_orders">
                        <td>{{ buy.price }}</td>
                        <td>
                            <i :class="getIcon(buy.currency_pair)"></i> {{ buy.amount }}
                        </td>
                        <td>{{ buy.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6 style="display: inline-block;">My recent orders</h6>
                <a href="/manage-order" class="btn btn-success btn-xs exchange-manage-order" target="_blank">Manage my orders</a>
                <div><i v-show="loading" class="fa fa-spinner fa-spin"></i></div>
                <ul class="recent-orders">
                    <li v-for="(myOrder, index) in my_order">
                        <i :class="getIcon(myOrder.currency_pair)"></i>{{ myOrder.amount }} {{ myOrder.currency_pair.toUpperCase() }}
                        <div class="pull-right">
                            <span class="exchange-recent-order">{{ myOrder.status }}</span>
                            <span v-if="myOrder.status === 'ACTIVE'">
                                <a href="#" class="btn btn-danger btn-sm" @click.prevent="cancelPron( myOrder.id, index )">Cancel <i v-show="myOrder.canceling" class="fa fa-spinner fa-spin"></i></a>
                            </span>
                        </div>
                        <span>{{ myOrder.total }} ({{ myOrder.price }} / {{ myOrder.currency_pair.toUpperCase() }} / {{ myOrder.market_type.toUpperCase() }})</span>
                    </li>
                </ul>
                <my-component v-if="showModel" @close="showModel = false"></my-component>
            </div>
            <div class="col-md-8">
                <h6>Recent Trades</h6>
                <div><i v-show="loading" class="fa fa-spinner fa-spin"></i></div>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Volume</th>
                        <th>Price</th>
                        <th>Buy/Sell</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="myTrade in my_trade" v-if="myTrade.currency !== null" :key="myTrade.id">
                        <td>{{ myTrade.date | moment("Do MMM") }}</td>
                        <td>{{ myTrade.date | moment("hh:mmA") }}</td>
                        <td>
                            <i :class="getIcon(myTrade.currency)"></i> {{ myTrade.volume }}
                        </td>
                        <td>{{ myTrade.price | currency }}</td>
                        <td>{{ myTrade.currency.toUpperCase() }} - {{ myTrade.market_type.toUpperCase() }}</td>
                        <td>{{ myTrade.total | currency }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { currencies } from '../../currencies.js'
    export default {
        name: 'Dashboard',
        data() {
            return {
                show: false,
                cryps: currencies.getCryptoPair(),
                activeCrpy: this.$route.params.currency1.toUpperCase()+'/'+this.$route.params.currency2.toUpperCase(),
                market_price: '',
                currency: this.$route.params.currency1.toLowerCase(),
                currency_pair: this.$route.params.currency2.toLowerCase(),
                currency_amount_buy: 0,
                currency_amount_sell: 0,
                currency_price_buy: 0,
                currency_price_sell: 0,
                currency_price_buy_hidden: 0,
                currency_price_sell_hidden: 0,
                buy_orders: [],
                sell_orders: [],
                chart_data: [],
                chart_options: {},
                subscriptions: [],
                myToken: '',
                my_trade: [],
                my_order: [],
                buy_order_type: '',
                sell_order_type: '',
                isDisabled: false,
                isBuyMarketOrder: 0,
                isSellMarketOrder: 0,
                savedCurrentPrice: 0,
                isSuccess: '',
                uid: '',
                privateChannel: '',
                loading: false,
                exchange_wallet: [],
                showModel: false,
                cancelId: '',
                cancelIndex: '',
                is_aud: true,
                tooltips: [
                    "This is the quantity you want to offer.",
                    "This is the price you want to offer.",
                    "This is the total value of the order.",
                    "This is the fee, which is only taken once the order is fulfilled.",
                    "Warning: Use this feature with care - it will fill your order with any order available, even if the price is a fraction of normal prices.",
                ]
            }
        },
        methods: {
            mouseOver: function(i){
                this.activeCheck[i].flag = true;
            },
            mouseLeave: function(i){
                this.activeCheck[i].flag = false;
            },
            isAUD: function() {
                if (this.currency.toLowerCase() === 'aud')
                    this.is_aud = true;
                else
                    this.is_aud = false;
            },
            emptyCurrencyPrice: function(type) {
                if (type === 'buy')
                    this.currency_price_buy = '';
                else
                    this.currency_price_sell = '';
            },
            emptyAmount: function(type) {
                if (type === 'buy')
                    this.currency_amount_buy = '';
                else
                    this.currency_amount_sell = '';
            },
            // selectMarketOrder : function(type) {
            //     if (type === 'buy') {
            //         if (this.isBuyMarketOrder == 1) {
            //             this.isBuyMarketOrder = 0;
            //             this.currency_price_buy = 0;
            //         }else{
            //             this.currency_price_buy = 'Market value';
            //             this.isBuyMarketOrder = 1;
            //             this.currency_price = this.savedCurrentPrice;
            //         }
            //     }
            //
            //     if (type === 'sell') {
            //         if (this.isSellMarketOrder == 1) {
            //             this.isSellMarketOrder = 0;
            //             this.currency_price_sell = 0;
            //         }else{
            //             this.currency_price_sell = 'Market value';
            //             this.isSellMarketOrder = 1;
            //             this.currency_price = this.savedCurrentPrice;
            //         }
            //     }
            // },
            toggleShow: function () {
                this.show = !this.show;
            },
            itemClicked: function (cryp) {
                this.toggleShow();
                this.changeCrpy(cryp);
            },
            changeCrpy: function (cryp) {
                this.activeCrpy = cryp;
            },
            getIcon(val) {
                if (val === 'xrp')
                    return 'icon icon-rpl'
                else
                    return 'icon icon-' + val
            },
            unpack(value) {
                let valuesArray = value.split("~");
                let valuesArrayLenght = valuesArray.length;
                let mask = valuesArray[valuesArrayLenght - 1];
                let maskInt = parseInt(mask, 16);
                let unpackedCurrent = {};
                let currentField = 0;
                let FIELDS = {
                    'T': 0x0  // hex for binary 0, it is a special case of fields that are always there TYPE
                    , 'M': 0x0  // hex for binary 0, it is a special case of fields that are always there MARKET
                    , 'FSYM': 0x0  // hex for binary 0, it is a special case of fields that are always there FROM SYMBOL
                    , 'TSYM': 0x0  // hex for binary 0, it is a special case of fields that are always there TO SYMBOL
                    , 'F': 0x0  // hex for binary 0, it is a special case of fields that are always there FLAGS
                    , 'ID': 0x1  // hex for binary 1                                                       ID
                    , 'TS': 0x2  // hex for binary 10                                                      TIMESTAMP
                    , 'Q': 0x4  // hex for binary 100                                                     QUANTITY
                    , 'P': 0x8  // hex for binary 1000                                                    PRICE
                    , 'TOTAL': 0x10 // hex for binary 10000                                                   TOTAL
                };
                for (let property in FIELDS) {
                    if (FIELDS[property] === 0) {
                        unpackedCurrent[property] = valuesArray[currentField];
                        currentField++;
                    }
                    else if (maskInt && FIELDS[property]) {
                        //i know this is a hack, for cccagg, future code please don't hate me:(, i did this to avoid
                        //subscribing to trades as well in order to show the last market
                        if (property === 'LASTMARKET') {
                            unpackedCurrent[property] = valuesArray[currentField];
                        } else {
                            unpackedCurrent[property] = parseFloat(valuesArray[currentField]);
                        }
                        currentField++;
                    }
                }

                return unpackedCurrent;
            },
            getMytoken() {
                this.myToken = this.$cookie.get('api_token');
            },
            placeOrder: function(type) {
                this.isDisabled = true;
                var currency = this.activeCrpy.toLowerCase().split('/');
                var market_type = type;

                if (market_type === 'buy')
                    var order_type = (this.buy_order_type) ? 'market' : 'limit';
                else
                    var order_type = (this.sell_order_type) ? 'market' : 'limit';

                var currency_amount;
                var currency_price;
                if (type === 'buy') {
                    currency_amount = this.currency_amount_buy;
                    currency_price = this.currency_price_buy; //remove non digits
                } else {
                    currency_amount = this.currency_amount_sell;
                    currency_price = this.currency_price_sell; //remove non digits
                }

                if (this.checkOrderInput(market_type, order_type)) {

                    var rrsp = this.checkMininumValue(market_type);

                    if (!rrsp.flag) {
                        this.flash(rrsp.message, 'fail', {timeout: 3000});
                    } else {
                        axios.post('api/create-orders', {
                                order_type: order_type,
                                currency: currency[0],
                                currency_pair: currency[1],
                                volume: Math.round(currency_amount * 100000000) / 100000000, // allow maximum 8 decimal
                                market_type: market_type,
                                price: Math.round(currency_price * 100000000) / 100000000
                            },
                            { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                        )
                        .then((rsp) => {
                            this.isDisabled = false;
                            this.flash(rsp.data.message, 'success', {timeout: 3000});
                            this.isSuccess = 'success';
                        })
                        .catch((error) => {
                            this.isDisabled = false;
                            this.flash(error.response.data.message, 'fail', {timeout: 3000});
                            this.isSuccess = 'fail';
                        })
                    }
                } else {
                    this.flash('Amount has to be digits and positive', 'fail', {timeout: 3000})
                }

                this.currency_amount_buy = 0;
                this.currency_price_buy = '';
                this.currency_amount_sell = 0;
                this.currency_price_sell = '';
                this.isBuyMarketOrder = 0;
                this.isSellMarketOrder = 0;
                this.buy_order_type = false;
                this.sell_order_type = false;
            },
            cancelPron (id, index) {
                this.showModel = true
                this.cancelId = id
                this.cancelIndex = index
            },
            cancel () {
                axios.defaults.headers.common['Authorization'] = `Bearer ${this.myToken}`
                this.showModel = false
                this.my_order[this.cancelIndex].canceling = true
                axios.patch(
                    'api/cancel-exchange-order/' + this.cancelId,
                    { headers: {Authorization: this.myToken} }
                )
                    .then((rsp) => {
                    this.my_order[this.cancelIndex].status = 'CANCELLED'
                this.my_order[this.cancelIndex].canceling  = false
            })
            },
            getPrice(fsym, tsym) {
                var url = encodeURI('api/current-price/?currency='+ fsym +'&currency_pair=' + tsym);
                axios.get(
                    url,
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;
                    if ( data.close_buy_price.price.currency.toLowerCase() === 'aud')
                        this.market_price = '$ ' + data.close_buy_price.price;
                    else
                        this.market_price = data.close_buy_price.price;
                    this.currency_price = data.close_buy_price.price;
                    this.savedCurrentPrice = data.close_buy_price.price;
                    this.currency_price_buy_hidden = data.close_buy_price.price;
                    this.currency_price_sell_hidden = data.close_sell_price.price;
            })
            .catch((err) => {
                    if (err.response.status === 401) {
                    this.flash(err.response.data.error, 'fail', {timeout: 3000});
                    window.location = "/login";
                }
            })

            },
            updateCharts(fsym, tsym) {
                this.chart_data = [];
                this.loading = true;
                axios.get(
                    'api/market-price/?currency='+ fsym +'&currency_pair=' + tsym,
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;

                for (var i in data) {
                    this.chart_data[i] = [
                        data[i].date * 1000,
                        data[i].price
                    ];
                }

                this.chart_options = {

                    rangeSelector: {
                        selected: 1
                    },

                    title: {
                        text: 'myCryptoWallet Daily Price'
                    },

                    series: [{
                        // type: 'candlestick',
                        name: 'Daily Price',
                        data: this.chart_data,
                        // dataGrouping: {
                        //     units: [
                        //         [
                        //             'week', // unit name
                        //             [1] // allowed multiples
                        //         ], [
                        //             'month',
                        //             [1, 2, 3, 4, 6]
                        //         ]
                        //     ]
                        // }
                        tooltip: {
                            valueDecimals: 2
                        }
                    }]
                }

                this.loading = false;
            })
            .catch((err) => {
                    if (err.response.status === 401) {
                    // this.flash(err.response.data.error, 'fail', {timeout: 3000});
                    // window.location = "/login";
                }

                this.loading = false;
            })

            },
            getDecimalLimit(val) {
                return Math.round(val * 100000000) / 100000000;
            },
            getTrade(fsym, tsym) {
                this.buy_orders = [];
                this.sell_orders = [];
                this.loading = true;

                axios.get(
                    'api/trade-history?currency=' + fsym + '&currency_pair=' + tsym + '&order_status=active&price=desc',
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;
                for (var i in data) {
                    if (data[i].market_type.toLowerCase() === 'buy') {
                        if (data[i].currency.toLowerCase() === 'aud') {
                            this.buy_orders.push(
                                {
                                    date: data[i].updated_at,
                                    amount: this.getDecimalLimit(data[i].volume),
                                    price: '$ ' + this.getDecimalLimit(data[i].price),
                                    currency: data[i].currency,
                                    currency_pair: data[i].currency_pair,
                                    total: '$ ' + this.getDecimalLimit(data[i].volume * data[i].price)

                                }
                            )
                        } else {
                            this.buy_orders.push(
                                {
                                    date: data[i].updated_at,
                                    amount: this.getDecimalLimit(data[i].volume),
                                    price: this.getDecimalLimit(data[i].price),
                                    currency: data[i].currency,
                                    currency_pair: data[i].currency_pair,
                                    total: this.getDecimalLimit(data[i].volume * data[i].price)

                                }
                            )
                        }
                    } else {
                        if (data[i].currency.toLowerCase() === 'aud') {
                            this.sell_orders.unshift(
                                {
                                    date: data[i].updated_at,
                                    amount: this.getDecimalLimit(data[i].volume),
                                    price: '$ ' + this.getDecimalLimit(data[i].price),
                                    currency: data[i].currency,
                                    currency_pair: data[i].currency_pair,
                                    total: '$ ' + this.getDecimalLimit(data[i].volume * data[i].price)

                                }
                            )
                        } else {
                            this.sell_orders.unshift(
                                {
                                    date: data[i].updated_at,
                                    amount: this.getDecimalLimit(data[i].volume),
                                    price: this.getDecimalLimit(data[i].price),
                                    currency: data[i].currency,
                                    currency_pair: data[i].currency_pair,
                                    total: this.getDecimalLimit(data[i].volume * data[i].price)

                                }
                            )
                        }
                    }

                }

                this.currency_price_sell = parseFloat(this.buy_orders[0].price.replace(/[^0-9.]+/g, ''))  //remove non digit character except dot
                this.currency_price_buy = parseFloat(this.sell_orders[0].price.replace(/[^0-9.]+/g, ''))
                this.loading = false;
            })
            .catch((err) => {
                    if (err.response.status === 401) {
                    // this.flash(err.response.data.error, 'fail', {timeout: 3000});
                    // window.location = "/login";
                }

                this.loading = false;
            })
            },
            getMytrade() {
                this.my_trade = [];
                this.loading = true;
                axios.get(
                    'api/my-trade-history',
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;
                for (var i in data) {
                    if ( data[i].status !== 'cancel' ) {
                        this.my_trade.unshift({
                            date: data[i].created_at,
                            volume: (data[i].currency === 'aud') ? '$ ' + data[i].volume : data[i].volume,
                            market_type: data[i].market_type,
                            price: data[i].price,
                            currency: data[i].currency,
                            total: (data[i].currency === 'aud') ? data[i].volume : data[i].volume * data[i].price
                        })
                    }
                }

                this.loading = false;
            })
            .catch((err) => {
                    if (err.response.status === 401) {
                    // this.flash(err.response.data.error, 'fail', {timeout: 3000});
                    // window.location = "/login";
                }

                this.loading = false;
            })
            },
            getWallet() {
                axios.get(
                    'api/my-wallet',
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;

                /**
                 * Use for loop for performance and it doesnt need to inject the parameters
                 */
                for (var i=0; i < currencies.currency.length; i++) {
                    for (var j=0;j<currencies.currencyPair.length; j++) {
                        if(currencies.currency[i] == currencies.currencyPair[j])
                        {
                            continue;
                        }
                        var combineText = currencies.currency[i].toLowerCase() + '-' + currencies.currencyPair[j].toLowerCase();

                        this.$set(this.exchange_wallet, combineText, data.price[currencies.currency[i].toLowerCase()][currencies.currencyPair[j].toLowerCase()]['bid']);

                        var priceUpText = currencies.currency[i].toLowerCase() + '_' + currencies.currencyPair[j].toLowerCase() + '_up';
                        var priceDownText = currencies.currency[i].toLowerCase() + '_' + currencies.currencyPair[j].toLowerCase() + '_down';
                        if (data.bccomp_results[currencies.currency[i].toLowerCase()][currencies.currencyPair[j].toLowerCase()]['ask'] == 1) {
                            this.$set(this.exchange_wallet, priceUpText, data.price_changes[currencies.currency[i].toLowerCase()][currencies.currencyPair[j].toLowerCase()]);
                        } else if (data.bccomp_results[currencies.currency[i].toLowerCase()][currencies.currencyPair[j].toLowerCase()]['ask'] == -1) {
                            this.$set(this.exchange_wallet, priceUpText, '-'+data.price_changes[currencies.currency[i].toLowerCase()][currencies.currencyPair[j].toLowerCase()]);
                        } else {
                            this.$set(this.exchange_wallet, priceUpText, 'no change');
                        }


                    }
                }

                for (var j=0;j<currencies.currencyPair.length; j++) {
                    var exchage_wallet_text = currencies.currencyPair[j].toLowerCase() + '-balance';
                    this.$set(this.exchange_wallet, exchage_wallet_text, data[currencies.currencyPair[j].toLowerCase()]['user_crypto_balance']);
                }


            })
            },
            getMyorder() {
                this.my_order = [];
                this.loading = true;
                axios.get(
                    'api/my-recent-orders/5',
                    { headers: {"Authorization" : `Bearer ${this.myToken}`}}
                )
                    .then((rsp) => {
                    let data = rsp.data.data;
                for (var i in data) {
                    this.my_order.push({
                        id: data[i].id,
                        date: data[i].updated_at,
                        market_type: data[i].market_type,
                        amount: data[i].volume,
                        status: data[i].status.toUpperCase(),
                        price: data[i].price,
                        currency: data[i].currency,
                        currency_pair: data[i].currency_pair,
                        total: data[i].volume * data[i].price,
                        canceling: false
                    })
                }

                this.loading = false;
            })
            .catch((err) => {
                    if (err.response.status === 401) {
                    // this.flash(err.response.data.error, 'fail', {timeout: 3000});
                    // window.location = "/login";
                }

                this.loading = false;
            })
            },
            checkOrderInput(market_type, order_type) {
                if (market_type === 'buy') {
                    if (order_type === 'market') {
                        if (isNaN(this.currency_amount_buy)) return false;
                        else if (this.currency_amount_buy <= 0) return false;
                        else return true;
                    }

                    if (order_type === 'limit') {
                        if (isNaN(this.currency_amount_buy)) return false;
                        else if (this.currency_amount_buy <= 0) return false;
                        else if (isNaN(this.currency_price_buy)) return false;
                        else if (this.currency_price_buy <= 0) return false;
                        else return true;
                    }
                }

                if (market_type === 'sell') {
                    if (order_type === 'market') {
                        if (isNaN(this.currency_amount_sell)) return false;
                        else if (this.currency_amount_sell <= 0) return false;
                        else return true;
                    }

                    if (order_type === 'limit') {
                        if (isNaN(this.currency_amount_sell)) return false;
                        else if (this.currency_amount_sell <= 0) return false;
                        else if (isNaN(this.currency_price_sell)) return false;
                        else if (this.currency_price_sell <= 0) return false;
                        else return true;
                    }
                }
            },
            checkMininumValue(market_order) {

                var val = null;

                if (market_order === 'buy')
                    val = parseFloat((this.currency_amount_buy * this.currency_price_buy).toFixed(5));
                else
                    val = parseFloat((this.currency_amount_sell * this.currency_price_sell).toFixed(5));

                if (this.is_aud) {
                    if (val < 1)
                        return {
                            'message': 'Minimum order for AUD is $1',
                            'flag': false
                        };
                    else
                        return {
                            'value': val,
                            'flag': true
                        };
                } else {
                    if (val < 0.0001)
                        return {
                            'message': 'Minimum order for BTC is 0.0001',
                            'flag': false
                        };
                    else
                        return {
                            'value': val,
                            'flag': true
                        };
                }
            }
        },
        watch: {
            activeCrpy: function () {
                var param = this.activeCrpy.split("/");

                this.currency = param[0].toLowerCase()
                this.currency_pair = param[1].toLowerCase()
                this.getPrice(param[0], param[1])
                this.updateCharts(param[0], param[1])
                this.getTrade(param[0], param[1])
                this.getMytrade()
                this.getMyorder()
                this.isAUD()

                this.emptyCurrencyPrice('buy')
                this.emptyCurrencyPrice('sell')
                this.emptyAmount('buy')
                this.emptyAmount('sell')
            }
        },
        computed: {
            surcharge_buy() {
                return parseFloat(this.total_buy / 100).toFixed(2);
            },
            surcharge_sell() {
                return parseFloat(this.total_sell / 100).toFixed(2);
            },
            total_buy() {
                return parseFloat((this.currency_amount_buy * this.currency_price_buy).toFixed(5));
            },
            total_sell() {
                return parseFloat((this.currency_amount_sell * this.currency_price_sell).toFixed(5));
            },
            icon() {
                return this.getIcon(this.currency_pair)
            }
        },
        mounted() {
            this.getMytoken();
            this.getPrice(this.$route.params.currency1.toLowerCase(), this.$route.params.currency2.toLowerCase());
            this.updateCharts(this.$route.params.currency1.toLowerCase(), this.$route.params.currency2.toLowerCase());
            this.getTrade(this.$route.params.currency1.toLowerCase(), this.$route.params.currency2.toLowerCase());
            this.getMytrade();
            this.getMyorder();
            this.getWallet();
            this.isAUD();
        },
        created() {
            this.uid = this.$cookie.get('uid');
            this.privateChannel = 'exchange_user_' + this.uid;
            Echo.private(this.privateChannel)
                .listen('TradeHistoryEvent', (e) => {
                this.isDisabled = false;
            if (e.order_create) {
                this.flash('Order created successfully', 'success', {timeout: 3000});
                this.isSuccess = 'success';
                this.getMytrade();
                this.getMyorder();
            } else {
                this.flash('Fail to create order', 'fail', {timeout: 3000});
                this.isSuccess = 'fail';
            }
        });
            Echo.private('exchange-public')
                .listen('ExchangePublicUpdateEvent', (e) => {
                var param = this.activeCrpy.split("/");
            //this is the public broadcast from other users.
            //recall API to refresh some graph
            this.updateCharts(param[0], param[1])
            this.getTrade(param[0], param[1])
        });
        }
    }
</script>
