<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Signup start
                <router-link to="register/mobile" tag="button">Go Mobile Page</router-link>
            </div>    
        </div>
    </div>
</template>

<script>
    export default {
        name: 'RegisterSignUp',
        data() {
            return {
                
            }
        },
        methods: {
            
        },
        watch: {
           
        },
        computed: {
           
        },
        mounted() {
          
        },
        created() {
           
        }
    }
</script>
