<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Mobile validation
            </div>    
        </div>
    </div>
</template>

<script>
    export default {
        name: 'RegisterMobile',
        data() {
            return {
                
            }
        },
        methods: {
            
        },
        watch: {
           
        },
        computed: {
           
        },
        mounted() {
          
        },
        created() {
           
        }
    }
</script>
