@import "./node_modules/bulma/bulma.sass";
@import "base/typography";
@import "base/reset";
@import "base/color";
@import "styles";

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-checkmark2pwr:before {
    content: "\ea11";
}
.icon-arrow-left:before {
    content: "\f060";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-bars:before {
    content: "\f0c9";
}

.icon-menu:before {
    content: "\f0c9";
}

.icon-reorder:before {
    content: "\f0c9";
}

.icon-long-arrow-down:before {
    content: "\f175";
}

.icon-ltc:before {
    content: "\e902";
    color: #BDBDBD;
}

.icon-btc:before {
    content: "\e900";
    color: #FA942E;
}
.icon-btc {
    transform: rotate(-13deg)!important;
    border-radius: 100%;
    /* Safari */
    -webkit-transform: rotate(-13deg)!important;
    /* Firefox */
    -moz-transform: rotate(-13deg)!important;
    /* IE */
    -ms-transform: rotate(-13deg)!important;
    /* Opera */
    -o-transform: rotate(-13deg)!important;
}

.icon-eth:before {
    content: "\e901";
    color: #4d4c4c;
    text-shadow:0px 0px 15px aliceblue;
}

.icon-rpl:before {
    content: "\e904";
    color: #0075A4;
}

.icon-pwr:before {
    content: "\e903";
    color: rgb(83, 185, 169);
}

.icon-dollar:before {
    content: "\f155";
    color: #FFA52C;
}

.icon-usd:before {
    content: "\f155";
    color: #FFA52C;
}

.icon-download2:before {
    content: "\e9c5";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-linkedin2:before {
    content: "\eaca";
}

input,
textarea,
button {
    -webkit-appearance: none;
    border: 0;
}

section {
    display: block;
    position: relative;
}

section.home-top,
section.instant-access {
    .inner {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }
}

section.start-trading,

button {
    border: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

section.home-top {
    background: #37517e;
    background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff',GradientType=1 );
    height: 100vh;
    width: 100%;
    .fifty {
        overflow: hidden;
    }
    h2 {
        font-family: 'greycliff-heavy';
        font-size: 36px;
        color: white;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0px;
    }
    p {
        font-family: 'greycliff-demibold';
        font-size: 16px;
        color: white;
        line-height: 1.6;
    }
    img {
        position: absolute;
        bottom: -100px;
        left: 50%;
        margin-left: -176px;
        max-width: 355px;
    }
    .wrapper {
        max-width: 600px;
    }
    .overlay {
        background-image: url(../img/large-maze.svg);
        background-position: 0% 100%;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    .go-down {
        width: 52px;
        height: 52px;
        z-index: 999;
        background: #4084D3;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        border: 2px solid #F8FAFC;
        margin-left: -28px;
        margin-bottom: -28px;
        transition: ease all 0.2s;
        &:hover {
            background: #458ee2;
        }
        img {
            position: relative;
            left: 50%;
            margin-left: -3px;
            margin-top: 14px;
            bottom: 0;
        }
    }
    .inner {
        height: 100%;
    }
    .fifty {
        position: relative;
        height: 100%;
    }
    .c1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        .c2 {
            width: 100%;
            height: 100%;
            position: relative;
            display: table;
            vertical-align: middle;
            .c3 {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

section.instant-access {
    padding: 100px 0px;
}

section.start-trading {
    background: #37517e;
    background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
    padding: 100px 0px;
    h2 {
        font-family: 'greycliff-heavy';
        font-size: 36px;
        color: white;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    p {
        font-family: 'greycliff-demibold';
        font-size: 16px;
        color: white;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 25px;
    }
    p.more-info {
        margin-bottom: 0;
        a {
            color: white;
            transition: ease all 0.2s;
            &:hover {
                color: $teal;
            }
        }
    }
    .contact-module {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            border: 0;
        }
        .submit-button {
            height: 100%;
            background: white;
            border-radius: 0px 3px 3px 0px;
            height: 82px;
            padding: 0px 17px;
            border-left: 1px solid #eee;
            .btn {
                padding: 17px 23px;
                cursor: pointer;
                margin-top: 15px;
            }
            #mc-embedded-subscribe {
                height: auto;
                color: white;
                border-radius: 3px;
            }
        }
    }
    div#mce-success-response {
        text-align: center;
        color: #35e2c5;
        max-width: 400px;
        margin: auto;
        margin-top: 30px;
        font-family: 'greycliff-demibold';
    }
    input {
        border: 0;
        padding: 0px 20px;
        font-family: 'greycliff-demibold';
        font-size: 18px;
        height: 70px;
        width: 100%;
        outline: none;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $lblue;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $lblue;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $lblue;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $lblue;
        }
    }
}

section.instant-access {
    background: #F8FAFC;
    .fourty {
        position: relative;
    }
    .inner {
        max-width: 1020px;
        margin: auto;
        img {
            width: 100%;
        }
  }
}

.adjust-top {
  margin-top: 15px !important;
}

.navigation {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 9;
  padding: 30px 20px;
  box-sizing: border-box;
  .inner {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    .links {
      flex: 0 1 auto;
      ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li.link-btn a {
          border: 2px solid white;
          border-radius: 3px;
          padding: 8px 17px;
          font-family: 'greycliff-heavy' !important;
          transition: ease all 0.2s;
          &:hover {
            background: white;
            color: #0F99DB;
          }
        }
    }
    h2 {
        font-size: 'greycliff-heavy';
        color: $blue;
        line-height: 1.2;
        font-size: 36px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    p {
        font-family: 'greycliff-demibold';
        color: $lblue;
        line-height: 1.6;
        font-size: 16px;
    }
    .c1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        .c2 {
            width: 100%;
            height: 100%;
            position: relative;
            display: table;
            vertical-align: middle;
            .c3 {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .guest {
        max-width: 900px;
        li {
            img {
                height:30px;
                width:auto;
            }
            a {
                font-size:14px;
            }
            text-align: center;
        }
    }
} }}

.navigation {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 9;
    padding: 20px 50px;
    box-sizing: border-box;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        .links {
            flex: 0 1 auto;
            ul {
                padding-left: 0;
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li.link-btn a {
                    border: 2px solid white;
                    border-radius: 3px;
                    padding: 8px 17px;
                    font-family: 'greycliff-heavy' !important;
                    transition: ease all 0.2s;
                    &:hover {
                        background: white;
                        color: #0F99DB;
                    }
                }
                li {
                    position: relative;
                    &:last-of-type {
                        margin-right: 0px;
                    }
                    ul {
                        position: absolute;
                        top: 25px;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                    }
                    a {
                        text-decoration: none;
                        font-family: 'greycliff-demibold';
                        font-size: 16px;
                        color: white;
                    }
                }
                li.has-children {
                    position: relative;
                    >a {
                        padding-right: 19px;
                        &:before {
                            content: '';
                            background: url(../img/carret.svg);
                            width: 17px;
                            height: 17px;
                            background-size: cover;
                            position: absolute;
                            top: 1px;
                            right: -3px;
                        }
                    }
                    &:hover {
                        >a {
                            padding-bottom: 10px;
                        }
                        ul {
                            opacity: 1;
                            visibility: visible;
                            top: 30px;
                        }
                    }
                    ul {
                        background: white;
                        border-radius: 3px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        opacity: 0;
                        visibility: hidden;
                        transition: ease all 0.2s;
                        li {
                            margin-right: 0px;
                            a {
                                padding: 7px 15px 7px 15px;
                                box-sizing: border-box;
                                color: #4084D3;
                                min-width: 120px;
                                display: inline-block;
                                font-size: 15px;
                                transition: ease all 0.2s;
                                display: flex;
                                align-items: center;
                                .icon {
                                    margin-right: 5px;
                                    &:before {
                                        color: $blue;
                                    }
                                }
                                .icon-eth {
                                    font-size: 20px;
                                }
                                &:hover {
                                    color: $teal;
                                    .icon {
                                        &:before {
                                            color: $teal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: block;
    .inner {
        max-width: 1200px;
        margin: auto;
    }
    .links {
        ul {
            padding-left: 0;
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    font-family: 'greycliff-demibold';
                    font-size: 16px;
                    color: $blue;
                    transition: ease all 0.2s;
                    &:hover {
                        color: $blueh;
                    }
                }
            }
        }
    }
    .btn {
        padding: 7px 25px;
    }
    p {
        font-size: 13px;
        line-height: 1.5;
        color: $lblue;
        font-family: 'greycliff-demibold';
        margin: 0;
    }
    .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .logo {
            width: 25%;
            flex: 0 1 auto;
        }
        .links {
            width: 40%;
            flex: 0 1 auto;
            ul {
                display: flex;
                flex-wrap: wrap;
                text-align: left;
                margin: 0;
                li {
                    width: 33.33%;
                    flex: 0 1 auto;
                    margin-bottom: 20px;
                }
            }
        }
        .secure {
            width: 15%;
            flex: 0 1 auto;
        }
        .buttons {
            width: 20%;
            flex: 0 1 auto;
            text-align: right;
            a.btn.btn-grey {
                margin-right: 12px;
            }
        }
    }
    .bottom {
        padding-top: 40px;
        margin-top: 55px;
        border-top: 2px solid rgba(172, 182, 200, 0.28);
    }
}

.navigation .logo {
    z-index: 222;
    a {
        display: block;
    }
    img {
        width:220px;
    }
}
@media only screen and (min-device-width: 768px) {
    .navigation .logo {
        padding-bottom: 45px;
    }
}


section .inner,
.footer .inner {
    padding: 0px 20px;
}

.mobile-navigation {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    .logo {
        max-width: 220px;
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hamburger {
            color: white;
            font-size: 40px;
            cursor: pointer;
            transition: ease all 0.2s;
            display: flex;
            align-items: center;
        }
        .hamburger.active {
            color: $teal;
        }
        .link-btn {
            margin-right: 10px;
        }
        .link-btn a {
            display: block;
            font-size: 16px !important;
            border: 2px solid white;
            border-radius: 3px;
            padding: 8px 17px;
            font-family: 'greycliff-heavy' !important;
            transition: ease all 0.2s;
            text-decoration: none;
            color: white;
            &:hover {
                background: white;
                color: $dblue;
            }
        }
    }
}

.nav-up {
    top: -200px;
}

.mobile-menu {
    display: none;
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9998;
    .inner {
        padding: 40px 20px;
        box-sizing: border-box;
        height: calc(100vh - 93px);
        ul {
            padding-left: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li.link-btn a {
                border: 2px solid white;
                border-radius: 3px;
                padding: 8px 17px;
                font-family: 'greycliff-heavy' !important;
                transition: ease all 0.2s;
                &:hover {
                    background: white;
                    color: #0F99DB;
                }
            }
            li {
                position: relative;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    font-family: 'greycliff-demibold';
                    font-size: 18px;
                    color: white;
                    display: inline-block;
                    position: relative;
                    transition: ease all 0.2s;
                    &:hover {
                        color: $teal;
                    }
                }
            }
            li.has-children {
                ul {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    transition: ease all 0.2s;
                    margin-bottom: 20px;
                    li {
                        margin-right: 0px;
                        a {
                            padding: 7px 15px 7px 15px;
                            box-sizing: border-box;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icon {
                                margin-right: 5px;
                                &:before {
                                    color: white;
                                }
                            }
                            .icon-eth {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.not-home {
    .navigation {
        // background: $dblue;
        // background-size: cover;
        // background-position: 50% 50%;
        // background: #37517e;
        // background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
        // background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
        // background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
        position: relative;
        .overlay {
            // background-image: url(../img/large-maze.svg);
            // background-position: 0% 100%;
            // background-size: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
        }
    }
    // .container {
    //   padding-top: 113px;
    // }
    .main {
        max-width: 1200px;
        margin: auto;
        padding-top: 50px;
        // padding-left: 30px;
        // padding-right: 30px;
        .highlighted {
            color: $blue;
            font-family: 'greycliff-demibold';
            font-size: 18px;
        }
        .page-heading {
            margin-bottom: 30px;
            h2 {
                font-family: 'greycliff-bold';
                font-size: 48px;
                color: black;
                letter-spacing: 2px;
                margin: 0;
            }
        }
        .center {
            text-align: center;
        }
        .minor-link {
            color: $teal;
            transition: ease all 0.1s;
            font-size: 14px;
            &:hover {
                color: $dblue;
            }
        }
    }
}

.login {
    .page-heading {
        text-align: center;
    }
    .form-login {
        border: 1px solid #ACB6C8;
        border-radius: 5px;
        padding: 50px;
        text-align: center;
        .center {
            margin-top: 10px;
        }
        .form-group {
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
        label {
            display: block;
            color: $dblue;
            font-size: 18px;
            font-family: 'greycliff-demibold';
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tfa"] {
            border: 0;
            padding: 0px 20px;
            border-radius: 3px 0px 0px 3px;
            font-family: 'greycliff-demibold';
            font-size: 18px;
            color: #ACB6C8;
            height: 60px;
            max-width: 400px;
            width: 100%;
            outline: none;
            transition: ease all 0.1s;
            border: 1px solid $dblue;
            box-sizing: border-box;
            &:focus {
                border: 1px solid $teal;
            }
        }
    }
    .minor-link {
        display: inline-block;
    }
}

.dashboard-content.white {
    background: white !important;
}

.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first {
        width: 50%;
        flex: 0 1 auto;
    }
    .second {
        width: 50%;
        flex: 0 1 auto;
    }
}

.flex-group.align-normal {
    align-items: flex-start;
    flex-wrap: wrap;
    .fifty {
        width: 47.5%;
        flex: 0 1 auto;
    }
}

.system-message {
    border: 1px solid #ACB6C8;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    .verified {
        display: flex;
        align-items: center;
        .left {
            width: 62px;
            flex: 0 1 auto;
        }
        .right {
            width: calc(100% - 62px);
            flex: 0 1 auto;
            padding-left: 35px;
            .second {
                width: 190px !important;
            }
            .first {
                width: calc(100% - 190px);
                padding-right: 20px;
                box-sizing: border-box;
            }
            p {
                margin: 0;
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
            p.highlighted {
                margin-bottom: 5px;
            }
            p.general {
                color: $dblue;
                font-family: 'greycliff-demibold';
                font-size: 14px;
                a {
                    color: $blue;
                    text-decoration: none;
                    transition: eae all 0.1s;
                    &:hover {
                        color: $teal;
                    }
                }
            }
        }
    }
}

input[type="submit"] {
    cursor: pointer;
}

.container-fluid > .dashboard-content:first-of-type {
    background-image: url(../../../public/img/Globe.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dashboard-content {
    width: 100vw;
    min-height:846px;
    margin-left: calc(-50vw + 50%);
    padding: 20px 50px 50px 50px;
    box-sizing: border-box;
    .my-wallet {
        width: 350px;
        height: 100%;
        flex: 0 1 auto;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        .top {
            // background: #37517e;
            // background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            // background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            // background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            background-image: url(../../../public/img/mywallet/header-bg.png);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
            color: white;
            box-sizing: border-box;
            border-radius: 5px 5px 0px 0px;
            .header {
                border-bottom: 1px solid white;
                margin-bottom: 20px;
                h4 {
                    font-family: 'greycliff-demibold';
                    padding-bottom: 3px;
                }
            }
            .btn {
                display: inline-block;
                border: 1px solid;
                &:hover {
                    color: $blue;
                    background: white;
                }
            }
            .m-footer {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                >div {
                    display: flex;
                    align-items: center;
                    span {
                        display: block;
                        margin-left: 5px;
                    }
                }
            }
            .deposit {
                text-align: center;
                font-size: 30px;
                font-family: 'greycliff-demibold';
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .bottom {
            .coin-feed {
                .single-coin {
                    color: white;
                    border-bottom: 1px solid black;
                    // border-left: 1px solid #ACB6C8;
                    // border-right: 1px solid #ACB6C8;
                    background: rgb(26, 60, 94);
                    padding: 0px 15px;
                    transition: ease all 0.1s;
                    .the-coin {
                        width: calc(100% - 51px);
                    }
                    > span {
                        transition: ease all 0.1s;
                    }
                    .toggle {
                        width: 24px;
                        height: 24px;
                        text-align: center;
                        background: transparent;
                        border:1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-weight: bold;
                        line-height: 1;
                        font-size: 10px;
                        transition: ease all 0.1s;
                        &:hover {
                            background: $blue;
                        }
                    }
                    .icon-chevron {
                        color: white !important;
                    }
                    .toggle.active {
                        transform: rotate(180deg);
                    }
                    .icon-btc,
                    .icon-ltc,
                    .icon-rpl,
                    .icon-pwr {
                        font-size: 40px;
                        margin-right: 20px;
                    }
                    .icon-eth {
                        font-size: 40px;
                        margin-right: 24px;
                        margin-left: 5px;
                    }
                    &:last-of-type {
                        border-radius: 0px 0px 5px 5px;
                    }
                    .wrap {
                        padding: 15px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .header {
                        width: 100%;
                        flex: 0 1 auto;
                    }
                    .m-footer {
                        width: 80px;
                        flex: 0 1 auto;
                    }
                    img {
                        display: block;
                        margin-right: 15px;
                    }
                    .header {
                        display: flex;
                        align-items: center;
                        .toggle {
                            text-align: center;
                            cursor: pointer;
                        }
                        .price {
                            font-family: 'greycliff-demibold';
                            word-break: break-all;
                        }
                        .balance {
                            font-family: 'greycliff-demibold';
                        }
                    }
                }
            }
        }
    }
}
.market-prices {
    // width: calc(100% - 380px);
    flex: 0 1 auto;
    .highcharts-credits {
        display: none;
    }
    .graph {
        // padding-left: 30px;
        position: relative;
        .single-graph {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 30px;
            z-index: 0;
        }
        .single-graph.active {
            opacity: 1;
            z-index: 1;
        }
    }
    .header {
        // padding: 0px 0px 0px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            margin: 0;
            font-size: 18px;
            font-family: 'greycliff-demibold';
            padding-bottom: 3px;
            color: $blue;
        }
        .coin-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52px;
            width:100%;
            background: rgb(16,43,66);
            .single-toggle {
                background: rgb(16,43,66);
                color: $lblue;
                padding: 15px 25px;
                transition: ease all 0.1s;
                cursor: pointer;
                display: flex;
                align-items: center;
                .icon {
                    font-size: 22px;
                    margin-right: 5px;
                }
                &:last-of-type {
                    border-left: 0px !important;
                }
                &:first-of-type {
                    border-radius: 5px 0px 0px 5px;
                    border-right: 0px !important;
                }
                &:last-of-type {
                    border-radius: 0px 5px 5px 0px;
                }
                &:hover {
                    background: $teal;
                    color: white;
                    .icon {
                        color: white !important;
                        &:before {
                            color: white !important;
                        }
                    }
                }
            }
            .single-toggle.active {
                background: $blue;
                color: white;
                .icon {
                    color: white !important;
                    &:before {
                        color: white !important;
                    }
                }
            }
        }
    }
}

.home-graph {
    .market-prices {
        width: 100%;
        flex: 0 1 auto;
        .graph {
            margin-top: 30px;
            position: relative;
            min-height: 400px;
            .single-graph {
                opacity: 0;
                position: absolute;
                top: 0;
                z-index: 0;
            }
            .single-graph.active {
                opacity: 1;
                z-index: 1;
            }
        }
        .header {
            h4 {
                margin: 0;
                font-size: 18px;
                font-family: 'greycliff-demibold';
                padding-bottom: 3px;
                color: $blue;
            }
            .coin-toggle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                margin-left: 20px;
                .single-toggle {
                    background: white;
                    color: $lblue;
                    padding: 15px 25px;
                    transition: ease all 0.1s;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .icon {
                        font-size: 22px;
                        margin-right: 5px;
                    }
                    &:last-of-type {
                        border-left: 0px !important;
                    }
                    &:first-of-type {
                        border-radius: 5px 0px 0px 5px;
                        border-right: 0px !important;
                    }
                    &:last-of-type {
                        border-radius: 0px 5px 5px 0px;
                    }
                    &:hover {
                        background: $teal;
                        color: white;
                        .icon {
                            color: white !important;
                            &:before {
                                color: white !important;
                            }
                        }
                    }
                }
                .single-toggle.active {
                    background: $blue;
                    color: white;
                    height: 30px;
                    .icon {
                        color: white !important;
                        &:before {
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

.user-fees {
    width: 100%;
    margin-top: 100px !important;
    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        >div {
            width: 48%;
        }
    }
    h4 {
        margin: 0;
        margin-bottom: 20px;
        padding-bottom: 5px;
        font-size: 20px;
        font-family: 'greycliff-demibold';
        padding-bottom: 3px;
        color: $blue;
    }
    p {
        color: $dblue;
        font-family: 'greycliff-demibold';
        font-size: 16px;
    }
    table {
        width: 100%;
        margin-top: 0px;
    }
}

.with-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .breadcrumb {
        a {
            color: $blue;
            font-family: 'greycliff-regular';
            font-size: 14px;
        }
        .seperator {
            color: #ACB6C8;
            font-family: 'greycliff-regular';
            font-size: 14px;
            content: " / ";
        }
        span {
            color: #ACB6C8;
            font-family: 'greycliff-regular';
            font-size: 14px;
        }
    }
}

@media (max-width: 1040px) {
    .dashboard-content .market-prices .header .coin-toggle,
    .home-graph .market-prices .header .coin-toggle {
        justify-content: flex-start;
        .single-toggle {
            font-size: 12px;
        }
        .single-toggle.active {
            height: auto;
        }
    }
}

@media (max-width: 1300px) {
    .dashboard.sub-page .dashboard-content {
        padding: 70px 30px !important;
    }
}

@media (max-width: 1150px) {
    .footer .top .buttons {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 940px) {
    .dashboard-content .market-prices .header .coin-toggle,
    .home-graph .market-prices .header .coin-toggle {
        flex-wrap: wrap;
        justify-content: space-between;
        height: 104px;
        .single-toggle.active {
            border: 0px;
            border-radius: 3px !important;
        }
        .single-toggle {
            // width: 48.5% !important;
            justify-content: center;
            margin-bottom: 10px;
            box-sizing: border-box;
            &:first-of-type,
            &:last-of-type {
                border-radius: 0px;
            }
        }
    }
}

@media (max-width: 700px) {
    .dashboard-content .market-prices .header {
        display: block !important;
        h4 {
            margin-bottom: 10px;
        }
    }
    .dashboard-content .market-prices .header .coin-toggle {
        flex-wrap: wrap;
        justify-content: space-between;
        height: 45px;
        .single-toggle.active {
            border: 0px;
            border-radius: 3px !important;
            height: auto;
        }
        .single-toggle {
            width: 20%;
            justify-content: center;
            margin-bottom: 10px;
            box-sizing: border-box;
            &:first-of-type,
            &:last-of-type {
                border-radius: 0px;
            }
        }
    }
}

@media (max-width: 768px) {
    .not-home .main .page-heading h2 {
        font-size: 36px !important;
        padding-left: 20px;
    }
    .footer {
        .links,
        .buttons {
            padding-top: 0px !important;
        }
    }
    .footer .top .links ul li {
        width: 50% !important;
    }
    .dashboard-items .single-dashboard-item {
        width: 100% !important;
    }
    .single-contact-module,
    .single-support-module {
        &:first-of-type {
            margin-top: 10px;
        }
    }
    .faq-page {
        flex-wrap: wrap !important;
        .faq-list {
            width: 100% !important;
        }
    }
    .flex-group.align-normal .fifty,
    .dashboard.sub-page .dashboard-content h4 {
        width: 100% !important;
    }
    .dashboard.sub-page .dashboard-content {
        padding: 50px 25px !important;
    }
    .dashboard-content {
        padding: 20px;
    }
    .not-home .main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer .top .logo {
        width: 100%;
    }
    .footer .top .links {
        width: 100%;
        margin-top: 30px;
    }
    section.instant-access .c1 {
        position: relative;
    }
    section {
        br {
            display: none;
        }
    }
    section.home-top .inner {
        flex-wrap: wrap;
    }
    section.home-top .inner .fifty {
        width: 100%;
        &:first-of-type {
            display: none;
        }
    }
    section.home-top .wrapper {
        max-width: 100%;
    }
    section.home-top .c1 {
        position: relative;
    }
    section.home-top {
        height: auto !important;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    section.instant-access .inner {
        display: block;
        .fifty,
        .fourty {
            width: 100%;
        }
        .fourty {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 681px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 980px) {
    .news-list .single-news-item {
        width: 47.5% !important;
        &:last-of-type {
            margin-bottom: 0px !important;
        }
    }
    .dashboard-content .market-prices .graph .single-graph {
        position: relative;
        display: none;
        left: 0;
        width: 100%;
    }
    .dashboard-content .market-prices .graph {
        padding-left: 0px;
    }
    .dashboard-content .market-prices .graph .single-graph.active {
        display: block;
    }
    .dashboard-content .wrapper {
        display: block;
        >div {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .dashboard-content .my-wallet {
        margin-bottom: 50px;
    }
    .user-fees table {
        width: 100%;
    }
    .user-fees {
        margin-top: 50px;
    }
    .dashboard-content .market-prices .header {
        padding-left: 0px;
    }
    .user-fees .content {
        flex-wrap: wrap;
        >div {
            width: 100%;
        }
        .left {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 800px) {
    table {
        display: block!important;
        overflow-x: scroll;
    }
    .navigation {
        display: none !important;
    }
    .news-list .single-news-item {
        width: 100% !important;
    }
    // section.start-trading input {
    //     width: 50%;
    // }
    section.start-trading .contact-module .submit-button {
        width: 50%;
    }
    section.start-trading .contact-module .submit-button .btn {
        width: 100%;
    }
    // .navigation {
    //   display: none;
    // }
    .mobile-navigation {
        display: block !important;
    }
}

@media (max-width: 440px) {
    section.start-trading .contact-module {
        width: 100%;
    }
    section.start-trading input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
    }
    section.start-trading .contact-module .submit-button {
        width: 100% !important;
        box-sizing: border-box;
        background: transparent;
        border-left: 0;
    }
}

@media (max-width: 320px) {
    .mobile-navigation .inner .logo img {
        max-width: 220px;
    }
    .mobile-navigation .inner .link-btn a {
        font-size: 14px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navigation {
        display: none !important;
    }
    .mobile-navigation {
        display: block !important;
    }
    .mobile-menu .inner ul li a {
        font-size: 20px !important;
    }
    .mobile-menu .inner ul li.has-children ul li a {
        font-size: 18px !important;
    }
}

.dashboard-content {
    .wrapper {
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wallet-items {
    width: 100%;
    .single-wallet-item {
        width: 100%;
        border-radius: 5px;
        padding: 25px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        background: #ffffff;
        box-sizing: border-box;
        border: 1px solid #e5e8ed;
        .header {
            display: flex;
            align-items: center;
            .icon-eth {
                font-size: 26px !important;
            }
            .icon {
                font-size: 22px;
                margin-right: 10px;
                &:before {
                    color: $blue !important;
                }
            }
            .icon-dollar {
                background: $blue;
                width: 20px;
                text-align: center;
                height: 20px;
                border-radius: 50%;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before {
                    color: white !important;
                }
            }
        }
        h4.title {
            margin: 0;
            color: $blue;
            font-family: 'greycliff-demibold';
            font-size: 24px;
            width: 290px;
            flex: 0 1 auto;
        }
        .content {
            color: #fff;
            font-family: 'greycliff-demibold';
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 290px);
            flex: 0 1 auto;
            .balance {
                font-family: 'greycliff-demibold';
                color: $blue;
                font-size: 16px;
                .label {
                    color: #ACB6C8;
                }
                a {
                    color: $blue;
                    font-weight: bold !important;
                    text-decoration: none;
                    font-family: 'greycliff-bold';
                    display: inline-block;
                    transition: ease all 0.1s;
                    &:hover {
                        color: $teal;
                    }
                }
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.account-status-feed {
    .single-account-status {
        table {
            width: 100%;
        }
    }
}

.alert {
    border: 1px solid #ACB6C8;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    color: #37517E;
    font-family: 'greycliff-demibold';
    font-size: 16px;
    a {
        color: #4084D3;
        text-decoration: none;
        &:hover {
            color: $teal;
        }
    }
}

.alert-danger {
    border: 1px solid #c80200;
    color: #7e0e07;
}

.alert-success {
    border: 1px solid #009c0c;
    color: #009c0c;
}

.page-heading {
    p {
        font-family: 'greycliff-demibold';
        color: #777;
    }
}

.single-grouping {
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: 'greycliff-regular';
    margin: auto;
    margin-bottom: 50px;
    &:last-of-type {
        margin-bottom: 30px;
    }
}

.account-status-feed {
    .single-account-status {
        border-radius: 5px;
        margin-bottom: 70px;
        font-family: 'greycliff-regular';
        &:last-of-type {
            margin-bottom: 30px;
        }
        table {
            margin-top: 20px;
        }
        h2 {
            margin: 0;
            font-size: 28px;
            font-family: 'greycliff-demibold';
            padding-bottom: 3px;
            color: #4084D3;
        }
        p {
            color: #4084D3;
            font-family: 'greycliff-demibold';
            font-size: 16px;
        }
    }
}

h4.sub-title {
    margin: 0 0 20px 0;
    font-size: 28px;
    font-family: 'greycliff-demibold';
    padding-bottom: 3px;
    color: #4084D3;
}

table {
    width: 100%;
    table-layout: fixed !important;
    border-collapse: collapse;
    font-family: 'greycliff-regular';
    border-radius: 5px;
    box-shadow: 0 0 0 1px $blue;
    a {
        color: $dblue;
        text-decoration: none;
        transition: ease all 0.1s;
        font-weight: bold;
        &:hover {
            color: $teal;
        }
    }
    tr {
        transition: ease all 0.1s;
        &:last-of-type {
            td {
                border-bottom: 0px !important;
            }
        }
        &:hover {
            td {
                background: #F8FAFC;
            }
        }
        th {
            background: $blue;
            color: white;
            font-weight: bold;
            padding: 15px 15px;
            word-wrap: break-word;
            vertical-align: initial;
            font-family: 'greycliff-regular';
            text-align: left;
        }
        td {
            padding: 15px 15px;
            border-bottom: 1px solid $blue;
            word-wrap: break-word;
            vertical-align: initial;
            font-family: 'greycliff-regular';
            background: white;
        }
    }
}

.center-content {
    text-align: center;
}

.small-container {
    width: 100%;
    padding: 30px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ACB6C8;
    border-radius: 3px;
}
@media (min-width:769px){
    .small-container {
        max-width:60%;
    }
}

.general-container {
    border: 1px solid #ACB6C8;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.account-page {
    font-family: 'greycliff-regular';
    font-size: 18px;
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
    }
    input {
        display: block;
        padding: 20px;
        border: 1px solid #e5e8ed;
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: 1px solid $blueh;
            outline: none;
        }
    }
    select {
        display: block;
        padding: 20px;
        border: 1px solid #e5e8ed;
        /* background: white; */
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: right 14px top 50%;
        background-color: white !important;
        cursor: pointer;
        &:focus {
            border: 1px solid $teal;
            outline: none;
        }
    }
}

a.close {
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 10px;
    color: inherit;
    cursor: pointer;
    transition: ease all 0.1s;
}

.market-graph {
    .header {
        font-family: 'greycliff-regular';
        color: $blue;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .controls {
            display: flex;
            .single-control {
                margin-right: 20px;
                .toggle {
                    display: flex;
                    align-items: center;
                }
                span {
                    color: #ACB6C8;
                }
                span.number {
                    color: $blue;
                }
            }
        }
        .buy-sell-toggle {
            display: flex;
            align-items: center;
            .single-toggle {
                background: white;
                color: $lblue;
                border: 2px solid #ACB6C8;
                padding: 20px 25px;
                transition: ease all 0.1s;
                cursor: pointer;
                &:last-of-type {
                    border-left: 0px !important;
                }
                &:first-of-type {
                    border-radius: 5px 0px 0px 5px;
                    border-right: 0px !important;
                }
                &:last-of-type {
                    border-radius: 0px 5px 5px 0px;
                }
                &:hover {
                    background: $teal;
                    color: white;
                }
            }
            .single-toggle.active {
                background: $blue;
                border: 2px solid $blue;
                color: white;
            }
        }
    }
    .single-graph {
        margin-bottom: 50px;
    }
}

.purchase-module {
    background: #37517e;
    background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
    padding: 20px 30px;
    border-radius: 3px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .coin-toggle {
            .single-toggle {
                font-family: 'greycliff-demibold';
                color: white;
                font-size: 18px;
            }
        }
        .menu {
            a {
                font-family: 'greycliff-regular';
                color: white;
                font-size: 16px;
                text-decoration: none;
                transition: ease all 0.1s;
                &:hover {
                    color: $teal;
                }
            }
        }
    }
    .purchase-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0px;
        padding-top: 30px;
        border-top: 2px solid rgba(172, 182, 200, 0.3);
        .single-input {
            display: flex;
            align-items: center;
            .icon-btc,
            .icon-ltc,
            .icon-rpl,
            .icon-pwr {
                font-size: 25px;
                &:before {
                    color: white;
                }
            }
            .image {
                margin-top: -25px;
                width: 55px;
            }
            .btn {
                border: 2px solid white;
                color: white;
                &:hover {
                    color: $teal;
                    border: 2px solid $teal;
                    background: transparent;
                }
            }
            .input {
                input {
                    background: white;
                    padding: 10px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid white;
                    transition: ease all 0.1s;
                    &:focus {
                        outline: none;
                        border: 1px solid $teal !important;
                    }
                }
                .label {
                    font-family: 'greycliff-regular';
                    color: white;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
        .single-input.total {
            .input {
                input {
                    background: rgba(0, 0, 0, 0.2);
                    padding: 10px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid transparent;
                }
                .label {
                    font-family: 'greycliff-regular';
                    color: white;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
    .bottom {
        .checkbox-group {
            display: flex;
            align-items: center;
            input[type="checkbox"] {
                margin-right: 10px;
            }
            .label {
                font-family: 'greycliff-regular';
                color: white;
                font-size: 16px;
            }
        }
    }
}

.purchase-history {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .orders {
        width: 380px;
        flex: 0 1 auto;
        margin-top: 50px;
        .purchase-channel {
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0px;
            }
            h4 {
                font-size: 18px;
                color: $blue;
                font-weight: normal;
                font-family: 'greycliff-medium';
                margin-bottom: 10px;
                margin-top: 0px;
            }
            .group {
                border-top: 1px solid #ACB6C8;
            }
            .single-order {
                color: #ACB6C8;
                border-bottom: 1px solid #ACB6C8;
                border-bottom: 1px solid #ACB6C8;
                border-left: 1px solid #ACB6C8;
                border-right: 1px solid #ACB6C8;
                background: white;
                padding: 20px 20px;
                transition: ease all 0.1s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:hover {
                    background: #F8FAFC;
                    .price .price-top,
                    .price .price-bottom,
                    .view a {
                        color: $blue;
                    }
                    .icon>div {
                        &:before {
                            color: $blue;
                        }
                    }
                }
                .icon {
                    .icon-ltc,
                    .icon-btc,
                    .icon-rpl,
                    .icon-pwr {
                        font-size: 25px;
                    }
                    .icon-eth {
                        font-size: 35px;
                    }
                }
                .price {
                    .price-top {
                        color: #ACB6C8;
                        font-size: 24px;
                        margin-bottom: 5px;
                        transition: ease all 0.1s;
                    }
                    .price-bottom {
                        color: #ACB6C8;
                        font-size: 14px;
                        transition: ease all 0.1s;
                    }
                }
                .view {
                    a {
                        color: $blue;
                        font-size: 14px;
                        transition: ease all 0.1s;
                        text-decoration: none;
                        &:hover {
                            color: $teal;
                        }
                    }
                }
            }
        }
    }
    .history {
        width: calc(100% - 430px);
        flex: 0 1 auto;
        margin-top: 50px;
        .header {
            display: flex;
            justify-content: space-between;
            h4 {
                font-size: 18px;
                color: $blue;
                font-weight: normal;
                font-family: 'greycliff-medium';
                margin-bottom: 10px;
                margin-top: 0px;
            }
            .view-all {
                a {
                    color: $blue;
                    font-size: 14px;
                    transition: ease all 0.1s;
                    text-decoration: none;
                    &:hover {
                        color: $teal;
                    }
                }
            }
        }
        .history-feed {
            table {
                box-shadow: 0 0 0 1px #ACB6C8;
                tr {
                    transition: ease all 0.1s;
                    th {
                        background: #ACB6C8 !important;
                    }
                    td {
                        border-bottom: 1px solid #ACB6C8;
                    }
                }
            }
        }
    }
}

@media (max-width: 985px) {
    .market-graph .header .controls {
        flex-wrap: wrap;
    }
    .market-graph .header .controls .single-control:first-of-type {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .buy-sell-toggle {
        display: none !important;
    }
    .market-graph .header .controls .single-control:nth-of-type(2) {
        display: none !important;
    }
    .purchase-history .orders,
    .purchase-history .history {
        width: 100%;
    }
    .purchase-module .purchase-form {
        display: block !important;
        .single-input {
            margin-bottom: 20px;
            .btn {
                width: 100%;
                text-align: center;
            }
            .input {
                width: 100%;
                input {
                    width: 100%;
                    box-sizing: border-box;
                    height: 50px !important;
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    .wallet-items .single-wallet-item .content {
        display: block !important;
        .balance {
            margin-bottom: 20px;
        }
    }
    .wallet-items .single-wallet-item .header {
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 10px;
        .title {
            width: auto !important;
        }
    }
    .wallet-items .single-wallet-item {
        display: block !important;
        .title,
        .content {
            width: 100% !important;
        }
        >div {
            width: 100%;
            text-align: center;
        }
    }
    .wallet-items .single-wallet-item .content .balance {
        word-break: break-all;
    }
}

@media (max-width: 768px) {
    .account-page .form-group {
        margin-top: 20px;
    }
    .account-page {
        .panel-body {
            a {
                width: 100%;
                text-align: center;
                box-sizing: border-box;
                &:first-of-type {
                    margin-bottom: 20px;
                }
            }
        }
    }
    table.mobile-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (max-width: 560px) {
    .dashboard-content .market-prices .header {
        display: block !important;
    }
    .dashboard-content .market-prices .header h4 {
        margin-bottom: 20px;
    }
    .dashboard-content .market-prices .graph {
        padding-left: 0px;
    }
}

@media (max-width: 460px) {
    .wallet-items {
        .options {
            display: block !important;
            .btn {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;
            }
        }
    }
    .system-message .verified {
        display: block;
        align-items: center;
        text-align: center;
        .left {
            width: 100%;
        }
    }
}

.general-content-area {
    background: white;
    text-align: center;
    border: 1px solid #ACB6C8;
    border-radius: 3px;
    .single-input {
        margin-bottom: 30px;
        label {
            margin-bottom: 10px;
        }
    }
    .drop-label {
        font-size: 14px;
        margin-top: 10px;
        width: 100px;
        padding: 10px 15px;
        border: 1px solid $blue;
        margin: auto;
        border-radius: 3px;
        margin-top: 10px;
        cursor: pointer;
        transition: ease all 0.1s;
        background: $blue;
        color: white;
        font-family: 'greycliff-regular';
        &:hover {
            border: 1px solid $blue;
            background: white;
            color: black;
        }
    }
    input[type="file"] {
        border: 0px;
        padding: 0px;
        width: 75px;
        margin: auto;
        font-family: 'greycliff-regular';
    }
    .btn {
        width: auto;
        margin: auto;
        border: 0px !important;
        padding: 20px 50px;
    }
    .body {
        a {
            color: $blue;
            transition: ease all 0.1s;
            &:hover {
                color: $teal;
            }
        }
    }
}

::-webkit-file-upload-button {
    background: transparent;
    color: black;
    padding: 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    width: 0px;
    &:focus {
        outline: none;
        background: #f9f9f9;
    }
}

.buy-group {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: auto;
    margin-bottom: 30px;
    input {
        margin-bottom: 0px;
    }
    label {
        text-align: left;
        margin-right: 10px;
        width: 60px;
        margin-bottom: 0px;
    }
}

select {
    display: block;
    padding: 20px;
    border: 1px solid #e5e8ed;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin-bottom: 0px !important;
    background-image: url(../img/select-arrow.svg);
}

.select-front {
    display: inline-block;
    padding: 10px;
    border: 1px solid #37517E;
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin-bottom: 0px !important;
    max-width: 400px;
    background-image: none;
    height: 60px;
}

select,
input {
    font-family: 'greycliff-regular';
    font-size: 14px;
}

ul.alert.alert-danger {
    list-style: none;
}

.top-note {
    border-bottom: 1px solid #efefef;
    margin-bottom: 50px;
    margin-top: -50px;
    padding: 30px 30px 30px 30px;
    background-image: url(../../../public/img/mywallet/header-bg.png);
    // background: #37517e;
    // background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    // background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    // background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
    color: white;
    h4 {
        font-weight: normal;
        margin-top: 0px;
    }
    p {
        font-size: 14px;
        margin: 0px;
    }
}

.sub-note {
    border-top: 1px solid #efefef;
    padding-top: 30px;
    margin-top: 50px;
    p {
        font-size: 14px;
        margin: 0px;
    }
}

.balance-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    li {
        font-size: 16px;
    }
}

select[name="country_id"] {
    margin-bottom: 20px !important;
}

.capitalise {
    text-transform: uppercase;
}

.withdraw-deposit {
    .body ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        li {
            font-family: 'greycliff-demibold';
            color: #4084D3;
            font-size: 18px;
        }
    }
    .fee {
        color: #ACB6C8;
    }
    .amount {
        font-family: 'greycliff-demibold';
        color: #4084D3;
        font-size: 16px;
    }
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-family: 'greycliff-demibold';
        color: #909090;
    }
    label.heading {
        color: #4084D3;
        font-family: 'greycliff-demibold';
        font-size: 24px;
    }
    .form-group.balance {
        border-bottom: 1px solid #efefef;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: -10px;
    }
    h4 {
        margin-bottom: 0px;
    }
    .buy-group {
        max-width: 540px;
    }
    input[type="text"],
    select {
        max-width: 320px;
        margin: auto;
        color: #909090;
        font-size: 15px;
    }
}

.center-title {
    text-align: center;
}

.sub-flex {
    display: flex;
    justify-content: space-between;
    .general-content-area {
        width: calc(100% - 380px);
        height: 100%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.canvasjs-chart-toolbar {
    border: 0px !important;
    button {
        background: transparent !important;
        border: 0px !important;
        &:hover {
            background: $blue !important;
        }
    }
}

.faq-page {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    .faq-list {
        width: calc(100% - 370px);
        flex: 0 1 auto;
        display: block;
        margin: 0;
        .single-faq {
            padding-bottom: 15px;
            &:first-of-type {
                .content-faq {
                    display: block;
                }
            }
            .title.active {
                background: $blue;
                &:after {
                    content: '-';
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    font-size: 30px;
                    color: white;
                }
            }
            .title {
                cursor: pointer;
                margin-bottom: 0px;
                font-family: 'greycliff-demibold';
                color: #777;
                padding: 15px 45px 15px 20px;
                color: white;
                background: $dblue;
                transition: ease all 0.1s;
                position: relative;
                font-size: 16px;
                border-radius: 3px;
                &:after {
                    content: '+';
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    font-size: 30px;
                    color: white;
                }
                &:hover {
                    background: $blue;
                }
            }
            .content-faq {
                display: none;
                .inner {
                    padding: 15px 20px;
                    background: white;
                    border-radius: 0px 0px 3px 3px;
                }
            }
        }
    }
    .sidebar {
        max-width: 320px;
        width: 100%;
        flex: 0 1 auto;
    }
}

.news-list {
    width: 100%;
    .spacer {
        width: 31%;
        flex: 0 1 auto;
    }
    .single-news-item {
        text-align: center;
        width: 31%;
        flex: 0 1 auto;
        margin-bottom: 50px;
        border-radius: 0px 0px 3px 3px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &:hover {
            .btn {
                background: #909aad !important;
            }
            // .title {
            //   color: #444;
            // }
            // .featured-image {
            //   .overlay {
            //     background: rgba(0,0,0,0.2);
            //   }
            // }
        }
        .bottom {
            padding: 20px;
        }
        .title {
            font-family: 'greycliff-bold';
            font-size: 22px;
            color: #777;
            margin: 0px 0px 15px 0px;
        }
        .featured-image {
            width: 100%;
            padding-top: 50%;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 3px 3px 0px 0px;
            background-color: $dblue;
            position: relative;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}

.dashboard.sub-page {
    .dashboard-content {
        padding: 70px 50px;
        h4 {
            font-family: 'greycliff-bold';
            font-size: 24px;
            color: $blue;
            margin: 0;
            margin-bottom: 10px;
            width: 47.5%;
        }
        p {
            font-family: 'greycliff-demibold';
            color: #777;
            line-height: 1.6;
            strong {
                font-family: 'greycliff-bold';
                color: $blue;
                font-size: 18px;
            }
        }
        a {
            color: $blue;
            transition: ease all 0.1s;
            &:hover {
                color: $teal;
            }
        }
        a.btn {
            color: white !important;
        }
    }
}

#register-interested {
    a.btn {
        color: white !important;
    }
}

.legal-module {
    a {
        text-decoration: none;
    }
}

.single-contact-module,
.single-support-module {
    border: 1px solid #ACB6C8;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    background: white;
    p {
        margin: 0;
    }
    ul {
        li {
            margin-bottom: 5px;
        }
    }
}

.single-news-banner {
    padding-top: 50%;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}

.single-post-heading {
    text-align: center;
    max-width: 890px;
    margin: auto;
}

.post-meta {
    color: #ccc !important;
    .author {
        color: $blue;
    }
}

.single-news-item-page {
    width: 100%;
}

.single-news-item-page-content {
    display: flex;
    justify-content: center;
    width: 100%;
    .content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        strong {
            color: #555 !important;
            font-family: 'greycliff-bold';
        }
        ul,
        ol {
            li {
                font-family: 'greycliff-demibold';
                color: #555;
                line-height: 1.6;
                font-size: 16px;
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }
    .sidebar {
        max-width: 320px;
        width: 100%;
        flex: 0 1 auto;
        .sidebar-content {
            border: 1px solid #ACB6C8;
            border-radius: 5px;
            padding: 25px;
            margin-bottom: 20px;
            background: white;
            p {
                margin: 0;
            }
        }
    }
    .content {
        max-width: 890px;
        width: 100%;
        flex: 0 1 auto;
    }
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: white !important;
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background: #F8FAFC !important;
}

table.dataTable.no-footer {
    border-bottom: 0px !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px !important;
}

.dataTables_length select {
    display: initial !important;
    height: initial !important;
    padding: initial !important;
    width: initial !important;
    font-size: initial !important;
    -webkit-appearance: menulist;
    cursor: pointer;
    background: white !important;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 20px;
}

a.paginate_button.current {
    background: white !important;
    padding: 3px 10px !important;
}

div#js-balances-table_info {
    font-size: 14px;
}

div#js-balances-table_wrapper label {
    font-size: 14px;
}

.dataTables_paginate {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    padding: 5px 5px;
    border: 1px solid #ccc;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}

a.create-new-news-btn {
    color: inherit;
    transition: ease all 0.1s;
    &:hover {
        color: $teal;
    }
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 15px 10px !important;
}

.edit-post-page {
    input[type="text"] {
        width: 100%;
        padding: 15px 10px;
        border: 1px solid #ccc;
        margin: 7px 0px 20px 0px;
        outline: none;
        box-sizing: border-box;
        transition: ease all 0.1s;
        &:focus {
            border: 1px solid $teal;
        }
    }
    input[type="date"] {
        padding: 15px 10px;
        border: 1px solid #ccc;
        margin: 7px 0px 20px 0px;
        outline: none;
        box-sizing: border-box;
        transition: ease all 0.1s;
    }
    input#filesfeatured {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        width: 120px !important;
        background: white;
        cursor: pointer;
        outline: none;
        transition: ease all 0.1s;
        &:focus {
            border: 1px solid $teal;
        }
    }
    textarea {
        width: 100%;
        padding: 15px 10px;
        border: 1px solid #ccc;
        margin: 7px 0px 20px 0px;
        min-height: 160px;
        outline: none;
        box-sizing: border-box;
        transition: ease all 0.1s;
        &:focus {
            border: 1px solid $teal;
        }
    }
    .single-input {
        margin-bottom: 50px;
        font-family: 'greycliff-demibold';
        color: #777;
    }
    .checkbox-group {
        display: flex;
        margin-bottom: 20px;
    }
    .align-normal {
        width: 100%;
        max-width: 690px;
    }
    .form-group {
        label {
            display: block;
            font-family: 'greycliff-demibold';
            color: #777;
        }
    }
}

.featured-image-uploaded {
    margin-bottom: 10px;
    img {
        display: block;
    }
}

.dataTables_wrapper .dataTables_filter input {
    outline: none;
    transition: ease all 0.1s;
    &:focus {
        border: 1px solid $teal;
    }
}

.alert {
    text-align: center;
}

label.featured-title {
    font-family: 'greycliff-demibold';
    color: #777;
    margin-bottom: 7px;
    display: block;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px !important;
}

.content-form-group {
    margin-bottom: 20px;
}

.ql-toolbar {
    margin-top: 7px;
}

.ql-toolbar,
.ql-container {
    background: white;
}

.ql-snow .ql-out-bottom,
.ql-snow .ql-out-top {
    visibility: visible !important;
}

.ql-editor {
    height: 320px !important;
}

.ql-snow .ql-editor {
    h4 {
        font-size: 1em !important;
        width: initial !important;
        margin: initial !important;
        color: initial !important;
    }
    ul li,
    ol li,
    blockquote {
        color: rgb(119, 119, 119);
    }
}

.single-news-item-page-content {
    .content span {
        color: #555 !important;
    }
    h4 {
        font-size: 16px !important;
    }
    blockquote {
        font-family: 'greycliff-bold';
        color: #555;
        font-size: 18px;
        margin: 30px 0px 30px 30px;
    }
}

div#greenid-error-content .modal-dialog {
    font-size: 16px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    border-radius: 3px;
    background: #efefef;
    text-align: center;
}

button.btn.btn-default.greenid-modal-close {
    color: inherit;
    background: #ccc;
    border: 1px solid #ccc;
}

.dashboard-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    .single-dashboard-item {
        width: 47.5%;
        flex: 0 1 auto;
        border: 1px solid #ACB6C8;
        border-radius: 5px;
        padding: 25px;
        margin-bottom: 30px;
        box-sizing: border-box;
        background: white;
        margin-bottom: 80px;
        .top {
            border-bottom: 1px solid #efefef;
            margin-bottom: 25px;
            margin-top: -50px;
            margin-left: -26px;
            margin-right: -26px;
            padding: 25px;
            background: #37517e;
            background: -moz-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            background: -webkit-linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
            color: white;
            border-radius: 3px 3px 0px 0px;
            hr {
                margin: 15px 0px;
            }
            h3 {
                margin: 0;
            }
        }
        .bottom {
            line-height: 1.5;
            color: #777;
        }
    }
}

.sind {
    padding-left: 20px;
}

.lind {
    padding-left: 40px;
}

.form-login {
    span.help-block {
        display: block;
        margin-top: 10px;
        strong {
            font-weight: normal !important;
            font-family: 'greycliff-regular';
            color: $blue;
        }
    }
}

.alert.alert-danger.alert-dismissible {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    display: none !important;
    button.close {
        background: transparent;
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
}

.four-oh-four {
    text-align: center;
    margin-top: 30px;
    a {
        color: $dblue;
        font-family: 'greycliff-bold';
    }
    .title {
        color: $dblue;
        font-size: 26px;
    }
}

.sub-page-banner {
    height: 40vh;
    width: 100%;
    margin-top: -73px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(1);
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45);
    }
    .inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        position: relative;
        max-width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            color: white;
            font-family: 'greycliff-bold';
            font-size: 36px;
        }
    }
}

.back {
    margin-bottom: 10px;
    a {
        font-family: 'greycliff-bold';
        color: $blue;
        transition: ease all 0.1s;
        text-decoration: none;
        &:hover {
            color: $teal;
        }
    }
}

#greenid-container .radio input[type="radio"],
#greenid-container .radio-inline input[type="radio"],
#greenid-container .checkbox input[type="checkbox"],
#greenid-container .checkbox-inline input[type="checkbox"] {
    width: auto;
}

.socials {
    display: flex;
    align-items: center;
    font-size: 16px !important;
    margin-top: 18px;
    a {
        color: $blue;
        text-decoration: none;
        &:first-of-type {
            margin-right: 7px;
        }
        &:hover {
            color: $teal;
        }
    }
}

.footer-group {
    display: flex;
    align-items: center;
    .pipe {
        color: $blue;
        font-family: 'greycliff-bold';
        font-size: 13px;
        margin-left: 5px;
    }
    a {
        font-size: 13px;
    }
}

.footer {
    .logo a,
    .links a {
        transition: ease all 0.1s;
        &:hover {
            color: $teal !important;
        }
    }
}

@media (max-width: 640px) {
    .system-message .verified {
        display: block !important;
        text-align: center !important;
        .left {
            width: 100% !important;
        }
        .right {
            width: 100% !important;
            padding-left: 0px !important;
            .flex-group {
                display: block !important;
                .first {
                    width: 100% !important;
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;
                }
                .second {
                    width: 100% !important;
                }
            }
        }
    }
}

.button-dropdown {
    margin-left: -15px;
    margin-right: -15px;
    background: #fafafa;
    display: none;
    .inner {
        padding: 20px 20px 20px 20px;
        .pipe {
            font-family: 'greycliff-demibold';
            color: inherit;
            margin: 0px 10px;
        }
        a {
            text-decoration: none;
            font-family: 'greycliff-demibold';
            font-size: 16px;
            color: #4084D3;
            transition: ease all 0.2s;
            margin-right: 15px;
            &:last-of-type {
                margin-right: 0px;
            }
            &:hover {
                color: $teal;
            }
        }
    }
}

.temp-alert {
    margin-bottom: 0px !important;
    border: 0px !important;
    display: none;
}

.compare-price {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    color: #ACB6C8;
    >div {
        margin-left: 5px;
        color: #eb815a;
        display: flex;
        align-items: center;
        .percentage.positive {
            color: $teal !important;
        }
        .percentage {
            font-size: 14px;
            margin-left: 3px;
        }
    }
}
.icon-long-arrow-down.rotate {
    transform: rotate(180deg);
    font-size: 14px;
    font-weight: bold;
    color: $teal;
}

span.no-change {
    font-weight: 600;
    font-size: 17px;
    color: darkgray;
}

body.not-home .temp-alert {
    display: block !important;
}

.single-news-banner-image img {
    width: 100%;
    margin-bottom: 20px;
}

.tfa-input.form-group {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background: #f6f6f6;
}

.fees-table {
    .sub-title {
        font-family: 'greycliff-bold' !important;
        color: $blue !important;
    }
    ul {
        li {
            p {
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }
}

.user-records {
    .align-normal {
        width: calc(100% - 240px);
    }
    .side {
        border: 1px solid #ACB6C8;
        border-radius: 5px;
        padding: 25px;
        margin-bottom: 20px;
        background: white;
        height: 100%;
        width: 240px;
        margin-top: 27px;
        h4 {
            font-size: 18px !important;
            width: 100% !important;
        }
        p.none {
            font-size: 15px !important;
            margin: 0px;
        }
        p.single-entry {
            font-size: 15px !important;
            margin: 0px;
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
            margin-bottom: 15px !important;
            &:last-of-type {
                border-bottom: 0px !important;
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;
            }
            strong {
                font-size: 15px;
                color: inherit !important;
            }
        }
    }
}

.ledgers-table {
    font-size: 12px;
}

.buysell-buttons {
    .btn {
        background-color: #07a8ee;
        margin-top: 10px;
        padding: 10px 25px;
    }
}

.help-block {
    font-size: small;
    color: red;
    margin-top: 10px;
}

// VueJS hide until loaded
[v-cloak]>* {
    display: none
}

[v-cloak]::before {
    content: 'Loading...'
}

td {
    .btn {
        padding: 10px 25px;
    }
}

.input-group input {
    margin: 0 !important;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group input:read-only {
    background-color: #ebebe5;
    cursor: no-drop;
}

.currency-buttons {
    display: block;
    a {
        display: inline-block!important;
    }
}
@media (max-width: 480px) {
    .currency-buttons > .btn {
        width:60%!important;
        padding-bottom: 40px;
    }
}

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
    // width: 180px;
    float: right;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    background-color: rgb(249, 251, 252);
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
    background-color: rgb(249, 251, 252);
    border: none;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.switch-field label {
    display: inline-block;
    // width: 30px;
    background-color: #e4e4e4;
    color: $darkblue;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    color:white;
    // background: linear-gradient( rgb(87,193,211), rgb(48,107,154) );
    background-image: linear-gradient(to right bottom, #4c8cd4, #4c96dd, #4ca1e6, #4dabee, #4fb6f6);
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 2px;
    border-radius: 5px;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.input-group input {
    margin: 0 !important;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group input:read-only {
    background-color: #ebebe5;
    cursor: no-drop;
    display: block;
    a {
        display: inline-block!important;
    }
}

.top-price-block {
    span {
        color: #fff;
        font-weight: bold;
    }
    .highlight-blue {
        color: #00e6f7;
        padding-top: 10px;

    }
    .columns.wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    span.column {
        padding:0;
    }
    display: block;
    background-color: #000;
    text-align: center;
}

@media (max-width: 480px) {
  .top-price-block {
    span.column {
        padding:12px;
    }
  }
}

.currency-select {
    float: left;
    margin-right: 5px;
}

//quick fixes to achieve consistent layout
@media (min-width:769px) and (max-width:1230px) {
    .dashboard {
        .page-heading {
            padding-left: 50px;
        }
    }
}
