.btn {
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 3px;
  font-family: 'greycliff-heavy';
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  transition: ease all 0.2s;
}

.btn-small {
  padding: 15px 25px;
}

.btn-teal {
  color: white;
  background: $teal;
  &:hover {
    background: $tealh;
  }
  &:disabled {
    background: rgba(53, 226, 197, 0.67);
  }
  &[disabled]:hover {
    cursor: not-allowed;
    background: rgba(53, 226, 197, 0.67);
  }
}

.btn-red {
  color: white;
  background: $red;
  &:hover {
    background: $lred;
  }
}

.btn-blue {
  color: white;
  background: $blue;
  border: 2px solid $blue;;
  &:hover {
    background: #348cf3;
  }
}

.btn-ghost {
  color: #6b92b5;
  background: transparent;
  border: 2px solid #6b92b5;
  font-family: 'greycliff-demibold';
  &:hover {
    color: white;
    background: #6b92b5;
  }
}

.btn-white {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  font-family: 'greycliff-demibold';
  &:hover {
    color: white;
    background: #6b92b5;
    border: 2px solid #6b92b5;
  }
}

.btn-ghost-inverse {
  color: white;
  background: #6b92b5;
  border: 2px solid #6b92b5;
  font-family: 'greycliff-demibold';
  &:hover {
    color: #6b92b5;
    background: transparent;
  }
}

.btn-grey {
  color: white;
  border: 2px solid $lblue;
  background: $lblue;
  color: white;
  &:hover {
    background: transparent;
    color: $lblue;
  }
}

.btn-grey-full {
  background: #ACB6C8;
  color: white;
  border: 0px solid #ACB6C8;
  &:hover {
    background: $teal;
    color: white;
  }
}

.btn-blue-fading {
  border:none;
  color: white;
  background: linear-gradient( rgb(87,193,211), rgb(48,107,154) );
  &:hover {
    color: white;
  }
}
.btn-trans-blue {
  color: white;
  background: transparent;
  border: 1px solid steelblue;
  font-family: 'greycliff-demibold';
  &:hover {
    background: linear-gradient( rgb(87,193,211), rgb(48,107,154) );
    border:none;
  }
}

a.btn.btn-teal {
  border: 2px solid $teal;
  &:hover {
    border: 2px solid $tealh;
  }
}

a.btn.btn-red {
  border: 2px solid $red;
  &:hover {
    border: 2px solid $lred;
  }
}

$break-large: 1200px;

.currency-buttons {
  .btn-ghost {
    color: white;
    background: #a8a8a8;
    border: 2px solid #6b92b5;
    font-family: 'greycliff-demibold';
    &:hover {
      color: #6b92b5;
      background: #d1d1d1;
    }
  }
  .icon-btc, .icon-ltc, .icon-rpl, .icon-eth, .icon-pwr {
    font-size: 15px;
    &:before {
      color: white !important;
    }
  }

  @media (min-width: $break-large) {
    margin-bottom: 50px;
    .btn {
      display: inline;
      margin-right: 4px;
      margin-bottom: 4px;
      // width: 100px;
    }
  }

  @media (max-width: $break-large) {
    .btn {
      width: 60px;
      height: 20px;
      margin: 5px;
    }
  }
}

