//colors
$white: #fff;

.file-upload {
  width: 600px;
  margin: 10px auto;
  padding: 20px;

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: $white;
    background: $blue;
    border: none;
    padding: 10px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      background: $blueh;
      color: $white;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .2s ease;
      cursor: pointer;
    }
    &:active {
      border: 0;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .2s ease;
    }
  }
  .file-upload-content {
    display: none;
    text-align: center;
  }
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed $blue;
    position: relative;
    &:hover {
      background-color: $blueh;
      border: 4px dashed $white;
    }
  }
  .image-dropping {
    background-color: $blue;
    border: 4px dashed $white;
  }
  .image-title-wrap {
    padding: 0 15px 15px;
    color: $dblue;
  }
  .drag-text {
    text-align: center;
    h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: $blue;
      padding: 60px 0;
      &:hover {
        color: $dblue;
      }
    }
  }
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  .remove-image {
    width: 300px;
    margin: 0;
    color: $white;
    background: $dblue;
    border: none;
    padding: 10px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    border-bottom: 4px solid $dblue;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      background: $dblueh;
      color: $white;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .2s ease;
      cursor: pointer;
    }
    &:active {
      border: 0;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .2s ease;
    }
  }
}
