.poli-receipt {
  border: #39507a 1px solid;
  margin: 0 25% 0 25%;
  border-radius: 25px;
  #header {
    background-color: #20a2e6;
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 25px 25px 0 0;
  }
  #paymentInformation {
    background-color: #20a2e6;
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
  }
  #receiptBody ul li {
    padding: 15px 41px 15px 41px;
    list-style-type: none;
    background-color: #fff;
  }
  #receiptBody ul li:nth-child(odd) {
    background-color: #8f8f8f;
    color: white;
  }
  #receiptBody ul li:last-child {
    border-radius: 0 0 25px 25px;
  }
  #receiptBody ul .receiptItemContent {
    float: right;
    text-align: right;
  }
  #receiptBody ul {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }
}