/**
*** Main SCSS file
*** myCryptoWallet 2.0
*** 20 Jun 2018
**/

// color for tick and cross
.fa.fa-check {
    color:mediumseagreen;
}
.fa.fa-times {
    color:red;
}
.page-title-heading {
    font-family: 'greycliff-bold';
    font-size: 48px;
    color: black;
    letter-spacing: 2px;
    margin: 0;
}
@media (max-width: 768px) {
    .page-title-heading {
        font-size: 36px;
    }
}

// Navigation style
.navigation {
    // border-bottom: 1px solid $blue;
    .underlay-bg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        max-height: 180px;
        z-index: -1;
    }
}
.mobile-menu {
    background-image: linear-gradient(to bottom, #121332, #1b2042, #242d52, #2c3b62, #354a73);
}
@media only screen and (max-width: 768px) {
    .mobile-navigation {
        background-color: rgb(18,24,50);
        border-bottom: 1px solid $blueh;
    }
}
@media only screen and (min-width:768px){
    .navigation {
        .columns.user {
            li {
                text-align: center;
            }
        }
        .has-children {
            ul {
                top:10px!important;
                left:10px!important;
                li {
                    a {
                        min-width:80px!important;
                        width: 100%;
                    }
                }
            }
        }
    }
}
//End of Navigation style

// Homepage hero section style
section.home.hero {
    background-image: url(../../../public/img/Crypto_Coin_Connected.png);
    background-size: cover;
    background-color: $darkblue;
    background-position: center;
    .columns {
        .hero-body {
            .title, .subtitle {
                color:white;
            }
            .title {
                font-size: -webkit-xxx-large;
            }
            .subtitle {
                font-size: x-large;
            }
            .button {
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    section.home.hero {
        margin-top: -40px;
    }
    .hero-body {
        margin-top: 60px;
    }
}
@media only screen and (min-width: 768px) {
    .home.hero {
        margin-top:-40px;
        .columns {
            padding-top: 120px;
            .mobile-mockup {
                padding-top:30px;
            }
        }
    }
}
//end of Homepage hero section style

// EFTPOS Card section
section.home.content-body {
    background-image: url(../../../public/img/eftpos/background.png);
    background-color: $darkblue;
    color: white;
    .columns {
        .column {
            .level {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    .card-wrapper {
        text-align: center;
        img {
            max-width: 80%;
        }
    }
    .icons {
        border-radius: 100%;
        width: 60px;
    }
    h2 {
        text-align: center;
        color: white;
    }
    .container.eftpos {
        h2 {
            max-width: 600px;
            margin: 0 auto 30px auto;
        }
        .button-wrapper {
            text-align: center;
            padding-bottom: 40px;
        }
    }
    .cross-platform {
        h2 {
            margin: 0 auto 40px auto;
            max-width: 700px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .column {
        .level {
            p {
                max-width: 60%;
                margin: 0 auto;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    section.home.eftpos {
        .columns {
            .column {
                .level {
                    padding-top: 30px;
                }
            }
        }
    }
}
//end of EFTPOS Card section

// ***Instant verification content section ***
section.home {
    .instant-verify {
        h2 {
            margin-bottom: 30px;
        }
        .register-flow {
            text-align: center;
            padding-bottom: 30px;
            img {
                width: 75px;
                height: 75px;
                border-radius: 100%;
            }
            .line {
                display: block;
                z-index: 2;
                width: 68%;
                height: 30px;
                position: absolute;
                border-bottom: 3px solid rgb(71,199,252);
                top: 10%;
                margin-left: 16%;
            }
        }
    }
}

// "hold and exchange" and email suscribe section
section.home {
    .app-email {
        h3 {
            color: white;
        }
        .logo-container {
            text-align:center;
            .logo {
                img {
                    max-width:220px;
                }
            }
        }
    }
}
.email-subscribe {
    section {
        background: transparent!important;
    }
    .contact-module {
        background: white;
        border-radius: 8px;
        margin-bottom: 20px;
        .input-icon {
            padding-left:20px;
        }
        input {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    .copy {
        span {
            color: $lightblue;
        }
    }
}
@media only screen and (max-width: $tablet) {
    section.home {
        .app-email {
            .app-demo {
                text-align: center;
            }
            .email-subscribe {
                .title {
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (min-width: $tablet) {
    section.home {
        .app-email {
            .app-demo {
                .title {
                    position:relative;
                    max-width:300px;
                    top:40px;
                    left:156px;
                }
            }
        }
    }
    .email-subscribe {
        padding: 0 60px;
        .copy {
            text-align: left;
        }
        .start-trading {
            padding-top: 50px;
        }
    }
}


// The stats section: showing significant numbers
section.home {
    .stats {
        // background-image: url(../../../public/img/planet.png);
        // background:url(../../../public/img/planet.png);
        // background-color: $darkblue;
        h2 {
            color: $lightblue;
            font-size: bigger;
        }
        p {
            color: white;
        }
        .columns {
            margin:0 auto;
            .column {
                text-align: center;
            }
        }
        .planet {
            width:100%;
            height:auto;
            margin-bottom: -6px;
        }
    }
}

//show background color only when it's homepagei
.homepage.footer {
    .geometry {
        background-color: rgb(3, 8, 20);
    }
}
.footer {
    padding: 0;
    background: transparent;
    .geometry {
        width: 100%;
        bottom: 0px;
    }
    .background-wrapper {
        background-color: rgb(3, 8, 20);
    }
    .logo {
        max-width: 250px;
    }
    .icon-facebook, .icon-twitter {
        color: white;
        border-radius:100%;
        font-size:20px;
        padding: 7px;
    }
    .icon-facebook {
        background-color: rgb(60, 80, 124);
    }
    .icon-twitter {
        background-color: rgb(85, 136, 167)
    }
    .buttons {
        .btn-blue-fading {
            color: white;
            background: linear-gradient( rgb(87,193,211), rgb(48,107,154) );
            &:hover {
              color: white;
              background: transparent;
              border: 2px solid rgb(87,193,211);
            }
        }
        .columns {
            .column {
                max-width: 120px;
            }
        }
        .aica {
            img {
                margin-top:30px;
                margin-bottom: 30px;
            }
        }
    }
    .blue-light {
        width:100%;
        height:auto;
    }
  }
//   End of footer style

//  ------->  Style: Deposit Page  <----------------
.deposit.general-content-area {
    .panel-header {
        background-image: url(../../../public/img/deposit/header-bg.png);
        background-size: cover;
        color:white;
        padding: 30px;
        margin: 0px;
        .bank-clipper {
            width:300px;
            position: absolute;
        }
    }
    .panel-body {
        padding: 30px;
        h2 {
            font-size: 36px;
            margin: 10px 0;
        }
        .bank-p {
            margin: 25px 0;
        }
        .message.is-danger {
            .message-header {
                border-radius: 5px;
            }
        }
        .poly-list {
            ul {
                // list-style: square url(../../../public/img/deposit/checked.png) inside;
                li::before {
                    content:'';
                    background-image: url(../../../public/img/deposit/checked.png);
                    display: inline-block;
                    background-position: center center;
                    background-size:50px;
                    width:50px;
                    height:50px;
                    background-repeat: no-repeat;
                    vertical-align:middle;
                }
                li {
                    font-size:15px;
                }
            }
        }
        form {
            background-image: url(../../../public/img/deposit/footer-bg.png);
            color: white;
            padding: 10px 25px 0px 25px;
            margin-top: 25px;
            border-radius: 5px;
        }
    }
    .bank-transfer-table {
        article.message {
            margin-bottom: 20px;
        }
        .message-header {
            background-image: url(../../../public/img/deposit/msg-header-bg.png);
            .header-icon {
                img {
                    width:150px;
                }
            }
            .header-copy {
                p {
                    margin-top: 6px;
                }
            }
        }
        table {
            margin: 0px;
            box-shadow: none;
            border-radius: 0;
            -webkit-box-shadow: 0 0 0 0 lightgrey;
            border: 1px solid lightgrey;
            tr {
                td {
                    border-bottom: 1px solid lightgrey;
                }
            }
        }
        .message-footer {
            padding:10px 30px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: white;
            background-image: url(../../../public/img/deposit/msg-footer-bg.png);
        }
    }
}
@media (max-width:768px) {
    .deposit-form {
        text-align: center;
        padding: 25px 25px 5px 25px!important;
        input {
            margin-bottom: 0px!important;
        }
    }
}
@media (min-width:768px) {
    .deposit.general-content-area {
        .panel-header {
            .wrapper {
                max-width:400px;
                margin:0;
            }
        }
    }
}
//  -------> End of Style: Deposit Page  <----------------

//  -------> Start of Style: myWallet widget   <----------------
.my-wallet {
    .switch-field {
        border-radius: 5px;
        margin: 10px 10px 0px 0px;
        background-color: rgb(249, 251, 252);
        label {
            background-color: rgb(249, 251, 252);
            border: none;
            box-shadow:none;
            -webkit-box-shadow:none;
        }
        input:checked+label {
            border-radius: 5px;
            margin: 2px;
        }
    }
    .top {
        padding: 25px 10px 10px 10px;
        .header {
            h4 {
                font-size: 22px;
                margin-left: 5px;
            }
        }
        .wallet-body {
            .aud_deposit,.nzd_deposit,.usd_deposit {
                div:first-of-type {
                    font-size:25px;
                }
            }
            .button.btn-trans-blue {
                color: white;
                text-decoration: none;
                float:right;
            }
        }
    }
    .bottom {
        .single-coin:first-of-type {
            border-top: 1px solid black;
        }
        .chart-change {
            position: relative;
            top: -15px;
        }
        .single-coin {
            .the-coin {
                .price {
                    font-size: 20px;
                }
                .balance {
                    color: rgb(170, 205, 270);
                    font-size: 16px;
                }
            }
            .price-change {
                p {
                    font-size:24px;
                }
            }
        }
        .button-dropdown {
            background: linear-gradient(to bottom, #1a3c5e, #19395a, #183556, #173252, #162f4e);
            .wrapper {
                .columns {
                    text-align: center;
                }
            }
            .wallet-title {
                margin-bottom: 0;
                .part-header {
                    font-weight: bold;
                }
            }
            .buy-sell {
                span {
                    font-size: 30px;
                }
            }
        }
        .coin-options {
            padding: 5px;
            padding-bottom: 10px;
            margin: 10px 0 0 0;
            .column {
                text-align: center;
                a {
                    color:white;
                    text-decoration: none;
                }
            }
            .column.btn-trans-blue {
                height:auto;
                padding: 5px;
                margin-right: 5px;
            }
        }
    }
}
//  -------> End of Style: myWallet widget  <----------------


// -------> Begin of Style: blockfolio widget  <----------------
.blockfolio {
    width:100%;
    border: 1px solid $darkblue;
    padding: 0 10px;
    margin-bottom: 60px;
    color:white;
    border-radius: 3px;
    .header {
        background-color: $darkblue;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        h2 {
            font-size: x-large;
            margin-top: 5px;
            margin-bottom:5px;
            margin-left: 20px;
            font-weight: bold;
        }
    }
    .body-content {
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        background-color: rgb(27, 63, 99);
        .asset-container {
            margin-bottom: 20px;
        }
        .asset-change {
            p.value {
                span:first-of-type {
                    letter-spacing: 2px;
                }
                font-size: 23px;
                margin: 5px 0;
                font-weight: bold;
                padding-left: 5px;
            }
            span.today {
                color: deepskyblue;
            }
        }
        .coins {
            text-align: center;
            background-color: rgb(15, 32, 53);
            padding: 8px 5px;
            border: 1px solid rgb(34, 61, 88);
            border-radius: 5px;
            margin: 2px 3px;
            .each-coin {
                .coin-logo {
                    font-size:40px;
                    position: relative;
                    left:5px;
                }
                .coin-holding {
                    text-align: left;
                }
                .coin-name {
                    font-weight: bold;
                }
                span.holding, span.change {
                    color: darkgrey;
                    font-size:smaller;
                }
            }
        }
    }
}

//  -------> End of Style: blockfolio widget  <----------------

// -------> Begin of Style: Chart widget  <----------------
.highcharts-credits {
    display: none;
}
.market-prices {
    // width: calc(100% - 380px);
    flex: 0 1 auto;
    .graph {
        // padding-left: 30px;
        position: relative;
        .single-graph {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 30px;
            z-index: 0;
        }
        .single-graph.active {
            opacity: 1;
            z-index: 1;
        }
    }
    .header {
        // padding: 0px 0px 0px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            margin: 0;
            font-size: 18px;
            font-family: 'greycliff-demibold';
            padding-bottom: 3px;
            color: $blue;
        }
        .coin-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52px;
            width:100%;
            background: rgb(16,43,66);
            .single-toggle {
                background: rgb(16,43,66);
                color: $lblue;
                padding: 15px 25px;
                transition: ease all 0.1s;
                cursor: pointer;
                display: flex;
                align-items: center;
                .icon {
                    font-size: 22px;
                    margin-right: 5px;
                }
                &:last-of-type {
                    border-left: 0px !important;
                }
                &:first-of-type {
                    border-radius: 5px 0px 0px 5px;
                    border-right: 0px !important;
                }
                &:last-of-type {
                    border-radius: 0px 5px 5px 0px;
                }
                &:hover {
                    background: $teal;
                    color: white;
                    .icon {
                        color: white !important;
                        &:before {
                            color: white !important;
                        }
                    }
                }
            }
            .single-toggle.active {
                background: $blue;
                color: white;
                .icon {
                    color: white !important;
                    &:before {
                        color: white !important;
                    }
                }
            }
        }
    }
}
// -------> End of Style: Chart widget  <----------------





.verify {
    .single-account-status {
        h2 {
            color: black!important;
        }
        .table {
            tr:first-of-type > th {
                color:white;
            }
        }
    }
}

//  -------> Sell/buy order confirm message  <----------------
.sell-order-confirm,
.buy-order-confirm {
    margin: 60px;
}

// TFA page
.tfa-page {
    .general-content-area {
        padding: 50px;
    }
    p.tfa-message {
        max-width: 800px;
    }
}

.account-page {
    .buttons-wrapper {
        a {
            display: flex;
            flex: auto;
            margin-right: 5px;
            padding: 15px 20px;
        }
    }
    label.switch {
        margin-left:4px;
        margin-bottom: 15px;
        top:-2px;
    }
}
@media (max-width:500px){
    .account-page {
        .buttons-wrapper {
            a {
                margin-bottom: 2px!important;
            }
        }
    }
}

// account progress style
.account-progress {
    max-width: 800px;
    margin-right: 30px;
    .message-header {
        display: block;
        p {
            font-size: large;
            margin:8px 0px;
        }
    }
    .message-body {
        background-color: white;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        div.columns:not(:last-child) {
            border-bottom:1px solid lightgray;
        }
        h4 {
            font-weight: bold;
            font-size: 20px;
        }
        img.check {
            width:40px;
            margin-top: 15px;
        }
        img.progress-icon {
            width:70px;
            border-radius: 100%;
        }
    }
    .message-footer {
        border-radius: 0 0 4px 4px;
        .button {
            margin:30px 0;
            text-decoration: none;
            padding: 30px 60px;
            font-size: large;
        }
        .button:focus {
            color:white;
        }
    }
    .message-header,
    .message-footer {
        background-image: url(../../../public/img/deposit/header-bg.png);
        text-align: center;
    }
}
@media (min-width:768px) {
    .account-progress {
        margin-left: 100px;
    }
}