@import "~bootstrap/scss/bootstrap";

$teal: #2ED0B5;
$tealh: #35e2c5;
$blue: #4084D3;
$blueh: #4b9cfb;
$lblue: #ACB6C8;
$dblue: #37517E;
$dblueh: #3b6495;
$red: #f52e18;
$lred: #cf2c18;
$border-color: #acb6c885;
$blue-hover: #4084d3;
$bg-hover: #f8fafc;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'greycliff-demibold';
  color: #4084d3;
}



table {
  font-family: 'greycliff-light';
  border: $border-color 1px solid;
  border-radius: 3px;
  thead {
    background-color: #acb6c8;
    th {
      color: white;
    }
  }
  tbody tr {
    color: #acb6c8;
    background-color: white;
    &:hover {
      color: $blue-hover;
      background-color: $bg-hover;
    }
  }
}

.recent-orders {
  font-family: 'greycliff-light';
  margin: 0;
  padding: 0;
  color: #acb6c8;

  border: $border-color 1px solid;

  li {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: $border-color 1px solid;
    border-radius: 3px;
    font-size: 1.8em;
    &:last-child {
      border: none;
    }
    &:hover {
      background-color: #f8fafc;
      color: $blue-hover;
    }
    div {
      color: #4084d3;
      font-size: 0.5em;
    }
    span {
      font-size: 0.5em;
      display: block;
      padding-left: 20px;
    }
  }
}

.buy-box {
  padding: 20px;
  //height: 200px;
  background: #37517E;
  margin-top: 30px;
  background-size: cover;
  background-position: 50% 50%;
  background: #37517e;
  background: linear-gradient(45deg, #37517e 40%, #00b5ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37517e', endColorstr='#00b5ff', GradientType=1);
  border-radius: 5px;
  border: #bbb 1px solid;

  .buy-footer {
    font-family: 'greycliff-light';
    margin-top: 50px;
    color: white;
  }

  .buy-form {
    padding-top: 10px;
    color: white;
    div {
      padding-right: 26px;
    }
    .input-label {
      color: white;
      font-family: 'greycliff-light';
      font-size: 0.8rem;
    }
    .transparent {
      input {
        background-color: rgba(243, 250, 255, 0.19);
        color: white;
        border-color: rgba(255, 255, 255, 0);
      }
      i {
        color: white !important;
      }
    }
    .icon {
      font-size: 32px;
    }
    .order-button {
      background-color: rgba(255, 255, 255, 0);
      border-color: white;
      color: white;
      height: 30px;
      padding: 0.2rem 0.75rem;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .buttons {
    border-bottom: rgba(188, 196, 210, 0.62) 1px solid;
    .btn {
      font-family: 'greycliff-light';
      //margin-left: 1px;
      background-color: #ffffff;
      border-color: #acb6c8;
      color: #acb6c8;
      &:hover {
        background-color: #c6c6c6;
        color: white;
      }
      &.active {
        background-color: #4084d3;
        border-color: #4084d3;
        color: #ffffff;
        &:hover {
          background-color: #4598d3;
        }
      }
    }
    & > .pull-right > a {
      color: white;
    }
  }
}

.input-icon {
  position: relative;
  color: grey;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}

.flash__message {
  box-sizing: border-box;
  padding: 15px 30px 15px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ccc;
  position: relative;
}

.flash__message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash__message.fail {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.flash__close-button {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 10px;
  margin: 0;
  padding: 8px;
}

.exchange-dropdown {
  display: inline !important;
  width: 100px !important;
  -webkit-appearance: menulist !important;
  margin-right: 15px;
  padding: 0;
}

.exchange-outstanding {
  color: black;
  font-size: 20px;
}

.exchange-spinner-center {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.exchange-wallet-dollar {
  width: 1.5em;
  display: inline-block;
}

.exchange-wallet {
  vertical-align: top;
  color: white;
  font-size: 1em;
}

.exchange-inline {
  font-size: 0.8em;
  padding: 10px 0 10px 0;
}

.exchange-wallet-heading {
  color: white;
  border-bottom: 1px solid white;
}

.exchange-addonWidth {
  display: block;
  text-align: center;
  width: 120px;
}

.exchange-dollar {
  padding-right: 0 !important;
}

.exchange-recent-order {
  display: block !important;
  font-size: 20px !important;
}

.exchange-manage-order  {
  display: inline-block;
}

.exchange-tooltip {
  position: relative;
  //display: inline-block;
  //border-bottom: 1px dotted black;
}

.exchange-tooltip .exchange-tooltiptext {
  visibility: hidden;
  width: 90%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0 !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 40px;
}

.exchange-tooltip:hover .exchange-tooltiptext {
  visibility: visible;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  float: right;
}

// model css
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}