<template>
    <div id="piechart-container" style="min-width: 290px; height: 290px; max-width: 600px; margin: 0 auto">
        <div v-show='this.spinner'>loading....</div>
    </div>
</template>

<script>
    import Highcharts from 'highcharts'
    import axios from 'axios'

    export default {
        data: function() {
            return {
                // prices: '',
                spinner: true,
                percent: {
                    btc: 0,
                    eth: 0,
                    ltc: 0,
                    xrp: 0,
                    pwr: 0
                }
            }
        },

        methods: {
            loadData() {
                let vm = this
                axios.get('/api/balance')
                    .then(function (response) {
                        vm.percent.btc = response.data.btc
                        vm.percent.eth = response.data.eth
                        vm.percent.ltc = response.data.ltc
                        vm.percent.xrp = response.data.xrp
                        vm.percent.pwr = response.data.pwr

                        vm.spinner = false
                        vm.applyChart()
                    })
                    .catch(function (error) {

                    })
            },

            applyChart() {
                var pieColors = (function () {
                    var colors = [],
                        // base = Highcharts.getOptions().colors[0],
                        base = (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        i;

                    for (i = 0; i < 10; i += 1) {
                        // Start out with a darkened base color (negative brighten), and end
                        // up with a much brighter color
                        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                    }

                    colors = ['#29a7de', '#f98f2a', '#f2f2f2', '#2f2f2f', '#6fecbc'];
                    // console.log(colors);

                    return colors;
                }())

                Highcharts.chart('piechart-container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        backgroundColor: null
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            colors: pieColors,
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                                distance: -50,
                                filter: {
                                    property: 'percentage',
                                    operator: '>',
                                    value: 4
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Share',
                        data: [
                            { name: 'BTC', y: this.percent.btc },
                            { name: 'ETH', y: this.percent.eth },
                            { name: 'LTC', y: this.percent.ltc },
                            { name: 'XRP', y: this.percent.xrp },
                            { name: 'PWR', y: this.percent.pwr }
                        ]
                    }]
                })
            }
        },

        mounted() {
            this.loadData()
        }
    }
</script>