<template>
    <div>
        <radial-progress-bar :diameter="diameter"
                             :total-steps="total"
                             :completed-steps="gain"
                             :animate-speed="animateSpeed"
                             :stroke-width="strokeWidth"
                             :start-color="startColor"
                             :stop-color="stopColor"
                             :inner-stroke-color="innerStrokeColor"
                             :timing-func="timingFunc">
            <p>{{ gain }} %</p>
            <p>{{ updatePhrase }}</p>
        </radial-progress-bar>
    </div>
</template>

<script>
    import RadialProgressBar from 'vue-radial-progress/dist/vue-radial-progress.min.js'
    import axios from 'axios'

    export default {
        data () {
            return {
                gain: 0,
                total: 100,
                animateSpeed: 1000,
                diameter: 250,
                strokeWidth: 10,
                startColor: '#22d68e',
                stopColor: '#21d28a',
                innerStrokeColor: '#323232',
                timingFunc: 'linear',
                updatePhrase: 'loading'
            }
        },

        methods: {
            loadAsset() {
                let vm = this
                axios.get('/api/assetUpdate')
                    .then(function (response) {
                        vm.gain = response.data
                        vm.spinner = false
                        // vm.gain = 92

                        if (vm.gain < 0) {
                            vm.startColor = '#e86465'
                            vm.stopColor = '#af5156'
                            vm.updatePhrase = 'lost in 24hrs'
                        } else {
                            vm.updatePhrase = 'gained in 24hrs'
                        }
                    })
                    .catch(function (error) {

                    })
            },

            timingFuncChanged(e) {
                this.timingFunc = e.target.value
            },

            innerStrokeColorChanged (e) {
                this.innerStrokeColor = e.target.value
            },

            stopColorChanged (e) {
                this.stopColor = e.target.value
            },

            startColorChanged (e) {
                this.startColor = e.target.value
            },

            strokeWidthChanged (e) {
                e.preventDefault()
                const val = e.target.value

                if (!val || isNaN(val)) {
                    return false
                }

                this.strokeWidth = parseInt(val)
            },

            diameterChanged (e) {
                e.preventDefault()
                const val = e.target.value

                if (!val || isNaN(val)) {
                    return false
                }

                this.diameter = parseInt(val)
            },

            animateSpeedChanged (e) {
                e.preventDefault()
                const val = e.target.value

                if (!val || isNaN(val)) {
                    return false
                }

                this.animateSpeed = parseInt(val)
            },

            totalStepsChanged (e) {
                e.preventDefault()
                const val = e.target.value

                if (!val || isNaN(val)) {
                    return false
                }

                this.totalSteps = parseInt(val)
            }
        },

        mounted() {
            this.loadAsset()
        },

        components: {
            RadialProgressBar
        }
    }
</script>

<style>
    .radial-progress-display {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .radial-progress-controls {
        display: flex;
        flex: 1;
    }
</style>