<template>
    <div>
        <div class="header">
            <div class="coin-toggle">
                <div class="single-toggle active" data-toggle="bitcoin" v-on:click="loadPrice('btc')"><div class="icon icon-btc"></div><div class="is-hidden-mobile">Bitcoin</div></div>
                <div class="single-toggle" data-toggle="ethereum" v-on:click="loadPrice('eth')"><div class="icon icon-eth"></div><div class="is-hidden-mobile">Ethereum</div></div>
                <div class="single-toggle" data-toggle="litecoin" v-on:click="loadPrice('ltc')"><div class="icon icon-ltc"></div><div class="is-hidden-mobile">Litecoin</div></div>
                <div class="single-toggle" data-toggle="ripple" v-on:click="loadPrice('xrp')"><div class="icon icon-rpl"></div><div class="is-hidden-mobile">Ripple</div></div>
                <div class="single-toggle" data-toggle="power" v-on:click="loadPrice('pwr')"><div class="icon icon-pwr"></div><div class="is-hidden-mobile">PowerLedger</div></div>
            </div>
        </div>
        <div class="graph">
            <div id="stockChart-container">
                <div v-show='this.spinner'>
                    <a class="button is-loading">Loading</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Highcharts from 'highcharts/highstock'
    import axios from 'axios'

    export default {
        data: function() {
            return {
                prices: '',
                spinner: true
            }
        },
        methods: {
            loadPrice(coin) {
                console.log("loading " + coin + " from the sever.....")
                let vm = this
                axios.get('/api/prices/'+ coin)
                    .then(function (response) {
                        // sort array from small to large in datetime
                        vm.prices = response.data.original.sort(function reverse(a, b) {
                            if (a[0] === b[0]) {
                                return 0;
                            }
                            else {
                                return (a[0] < b[0]) ? -1 : 1;
                            }
                        })
                        // vm.prices = response.data.original
                        vm.applyChart()
                        vm.spinner = false
                    })
                    .catch(function (error) {
                        console.log(error)
                        vm.prices = [0, 0] // draw a line to avoid confusion
                        vm.applyChart()
                        vm.spinner = false
                    })
            },
            applyChart() {
                Highcharts.theme = {
                    colors: ['#3399d4'],  // color of line and border of tooltip
                    chart: {  // chart background color
                        backgroundColor: {
                            linearGradient: [0, 0, 500, 500],
                            stops: [
                                [0, 'rgb(13, 51, 80)'], // useful
                                [1, 'rgb(15, 33, 55)']  // useful
                            ]
                        },
                    },
                    title: {  // top title style
                        style: {
                            color: '#FFFFFF',
                            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                        }
                    },
                    xAxis: {
                        gridLineColor: '#1c3e66',
                        labels: {
                            style: {
                                color: '#9ac7e3'
                            }
                        },
                        lineColor: '#1c3e66',
                        minorGridLineColor: '#1c3e66',
                        tickColor: '#1c3e66',
                        title: {
                            style: {
                                color: '#9ac7e3'
                            }
                        }
                    },
                    yAxis: {
                        gridLineColor: '#1c3e66',
                        labels: {
                            style: {
                                color: '#9ac7e3'
                            }
                        },
                        lineColor: '#1c3e66',
                        minorGridLineColor: '#1c3e66',
                        tickColor: '#1c3e66',
                        tickWidth: 1,
                        title: {
                            style: {
                                color: '#9ac7e3'
                            }
                        }
                    },
                    tooltip: { //the point
                        backgroundColor: 'rgba(51, 153, 212, 0.8)',
                        style: {
                            color: '#FFFFFF'
                        }
                    },

                    // top right navigator
                    navigation: {
                        buttonOptions: {
                            symbolStroke: '#FFFFFF',
                            theme: {
                                fill: '#3399d4'
                            }
                        }
                    },

                    // zoom and select style
                    rangeSelector: {
                        buttonTheme: {
                            fill: '#0f2137',
                            stroke: '#3399d4',
                            style: {
                                color: 'white'
                            },
                            states: {
                                hover: {
                                    fill: '#3399d4',
                                    stroke: '#000000',
                                    style: {
                                        color: 'white'
                                    }
                                },
                                select: {
                                    fill: '#3399d4',
                                    stroke: '#3399d4',
                                    style: {
                                        color: 'white'
                                    }
                                }
                            }
                        },
                        inputBoxBorderColor: '#1c3e66',
                        inputStyle: {
                            backgroundColor: '#0f2137',
                            color: 'white'
                        },
                        labelStyle: {
                            color: 'white'
                        }
                    },

                    navigator: { // bottom navigator
                        handles: {
                            backgroundColor: 'rgb(15, 33, 55)',
                            borderColor: '#9ac7e3'
                        },
                        outlineColor: '#1c3e66',
                        maskFill: 'rgba(255,255,255,0.1)',
                        series: {
                            color: '#FFF',
                            lineColor: '#3399d4'
                        },
                        xAxis: {
                            gridLineColor: '#1c3e66'
                        }
                    },

                    // bottom scroll bar
                    scrollbar: {
                        barBackgroundColor: '#3399d4',
                        barBorderColor: '#9ac7e3',
                        buttonArrowColor: '#9ac7e3',
                        buttonBackgroundColor: '#0f2137',
                        buttonBorderColor: '#9ac7e3',
                        rifleColor: '#FFF',
                        trackBackgroundColor: '#3399d4',
                        trackBorderColor: '#3399d4'
                    }
                }

                // Apply the theme
                Highcharts.setOptions(
                    Highcharts.theme
                )

                Highcharts.stockChart('stockChart-container', {

                    rangeSelector: {
                        selected: 1
                    },

                    title: {
                        text: 'myCryptoWallet Market Price'
                    },

                    exporting: {
                        enabled: false
                    },

                    series: [{
                        name: 'Market Price',
                        data: this.prices,
                        tooltip: {
                            valueDecimals: 2
                        }
                    }]
                })
            }
        },
        mounted() {
            this.loadPrice('btc')
        }
    }
</script>